In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the csv file into a dataframe
remitreceieved_df = pd.read_csv('remitance_recieved_1960_2022.csv', encoding='latin-1')

remitpaid_df = pd.read_csv('remttance_paid_1960_2022.csv', encoding='latin-1')

remitgdp_df = pd.read_csv('remittance_recieved(%ofGDP)_1960_2022.csv', encoding='latin-1')

unemploymenttotallabor_df = pd.read_csv('unemployment_total(%oftotallaborforce)_(national estimate)_1960_2022.csv', encoding='latin-1')

unemploymentilo_df = pd.read_csv('unemployment_total_(%oftotallaborforce)_(modeled ILO estimate)_1960_2022.csv', encoding='latin-1')

population_df = pd.read_csv('population_dataset.csv', encoding='latin-1')

In [3]:
remitreceieved_df.head()

,ï»¿Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.498404e+07,3.584564e+07,3.820385e+07
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.473592e+09,1.060859e+10,1.099148e+10,1.017869e+10,1.067768e+10,1.484476e+10,1.439873e+10,1.376489e+10,1.627555e+10,1.860932e+10
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08,3.000000e+08,3.500000e+08
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.807682e+10,2.907258e+10,3.121737e+10,2.838544e+10,3.159726e+10,3.455966e+10,3.258625e+10,2.920655e+10,3.214877e+10,3.317108e+10
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06,1.263115e+07,1.400549e+07

In [4]:
remitreceieved_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿Country Name  266 non-null    object
 1   Country Code     266 non-null    object
 2   1960             0 non-null      float64
 3   1961             0 non-null      float64
 4   1962             0 non-null      float64
 5   1963             0 non-null      float64
 6   1964             0 non-null      float64
 7   1965             0 non-null      float64
 8   1966             0 non-null      float64
 9   1967             0 non-null      float64
 10  1968             0 non-null      float64
 11  1969             0 non-null      float64
 12  1970             44 non-null     float64
 13  1971             57 non-null     float64
 14  1972             59 non-null     float64
 15  1973             59 non-null     float64
 16  1974             71 non-null     float64
 17  1975             92 non-null     float64
 18  1976             106 non-null    float64
 19  1977             124 non-null    float64
 20  1978             131 non-null    float64
 21  1979             136 non-null    float64
 22  1980             138 non-null    float64
 23  1981             138 non-null    float64
 24  1982             141 non-null    float64
 25  1983             145 non-null    float64
 26  1984             145 non-null    float64
 27  1985             145 non-null    float64
 28  1986             150 non-null    float64
 29  1987             153 non-null    float64
 30  1988             154 non-null    float64
 31  1989             155 non-null    float64
 32  1990             157 non-null    float64
 33  1991             159 non-null    float64
 34  1992             168 non-null    float64
 35  1993             175 non-null    float64
 36  1994             179 non-null    float64
 37  1995             185 non-null    float64
 38  1996             190 non-null    float64
 39  1997             189 non-null    float64
 40  1998             195 non-null    float64
 41  1999             196 non-null    float64
 42  2000             199 non-null    float64
 43  2001             201 non-null    float64
 44  2002             206 non-null    float64
 45  2003             209 non-null    float64
 46  2004             212 non-null    float64
 47  2005             241 non-null    float64
 48  2006             241 non-null    float64
 49  2007             241 non-null    float64
 50  2008             242 non-null    float64
 51  2009             242 non-null    float64
 52  2010             243 non-null    float64
 53  2011             243 non-null    float64
 54  2012             243 non-null    float64
 55  2013             243 non-null    float64
 56  2014             243 non-null    float64
 57  2015             243 non-null    float64
 58  2016             243 non-null    float64
 59  2017             243 non-null    float64
 60  2018             243 non-null    float64
 61  2019             243 non-null    float64
 62  2020             243 non-null    float64
 63  2021             229 non-null    float64
 64  2022             225 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [5]:
remitpaid_df.head()

,ï»¿Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.665237e+07,7.022269e+07,7.497801e+07,9.805250e+07,1.080455e+08,1.116510e+08,1.126276e+08,1.017626e+08,1.113316e+08,1.082545e+08
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.726218e+09,6.397281e+09,5.086995e+09,4.369787e+09,4.632237e+09,5.063078e+09,4.852355e+09,4.959235e+09,4.953944e+09,2.981383e+09
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.447308e+08,5.241635e+08,2.289918e+08,1.678945e+08,1.439791e+08,2.346187e+08,2.172923e+08,2.254206e+08,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.951823e+09,2.963446e+09,6.049161e+09,4.979108e+09,3.922327e+09,3.928024e+09,3.078476e+09,3.103854e+09,2.905960e+09,1.122626e+08
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.395966e+09,2.746616e+09,1.252909e+09,1.176110e+09,9.614153e+08,6.816270e+08,5.490820e+08,5.764714e+08,4.454001e+08,5.176682e+08

In [6]:
remitpaid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿Country Name  266 non-null    object
 1   Country Code     266 non-null    object
 2   1960             0 non-null      float64
 3   1961             0 non-null      float64
 4   1962             0 non-null      float64
 5   1963             0 non-null      float64
 6   1964             0 non-null      float64
 7   1965             0 non-null      float64
 8   1966             0 non-null      float64
 9   1967             0 non-null      float64
 10  1968             0 non-null      float64
 11  1969             0 non-null      float64
 12  1970             38 non-null     float64
 13  1971             54 non-null     float64
 14  1972             55 non-null     float64
 15  1973             55 non-null     float64
 16  1974             65 non-null     float64
 17  1975             85 non-null     float64
 18  1976             107 non-null    float64
 19  1977             122 non-null    float64
 20  1978             129 non-null    float64
 21  1979             133 non-null    float64
 22  1980             143 non-null    float64
 23  1981             144 non-null    float64
 24  1982             148 non-null    float64
 25  1983             147 non-null    float64
 26  1984             146 non-null    float64
 27  1985             149 non-null    float64
 28  1986             152 non-null    float64
 29  1987             154 non-null    float64
 30  1988             153 non-null    float64
 31  1989             153 non-null    float64
 32  1990             155 non-null    float64
 33  1991             155 non-null    float64
 34  1992             158 non-null    float64
 35  1993             170 non-null    float64
 36  1994             176 non-null    float64
 37  1995             179 non-null    float64
 38  1996             184 non-null    float64
 39  1997             188 non-null    float64
 40  1998             191 non-null    float64
 41  1999             192 non-null    float64
 42  2000             192 non-null    float64
 43  2001             195 non-null    float64
 44  2002             201 non-null    float64
 45  2003             205 non-null    float64
 46  2004             208 non-null    float64
 47  2005             215 non-null    float64
 48  2006             219 non-null    float64
 49  2007             221 non-null    float64
 50  2008             222 non-null    float64
 51  2009             227 non-null    float64
 52  2010             227 non-null    float64
 53  2011             230 non-null    float64
 54  2012             231 non-null    float64
 55  2013             230 non-null    float64
 56  2014             234 non-null    float64
 57  2015             232 non-null    float64
 58  2016             230 non-null    float64
 59  2017             227 non-null    float64
 60  2018             226 non-null    float64
 61  2019             223 non-null    float64
 62  2020             223 non-null    float64
 63  2021             215 non-null    float64
 64  2022             153 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [7]:
remitgdp_df.head()

,ï»¿Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.232335,0.267469,0.272810,1.765621,1.815559,1.126929,1.009013,1.340365,1.146686,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.963686,1.056650,1.189599,1.034992,0.989759,1.356090,1.441105,1.486589,1.502543,1.500187
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.688179,1.232898,1.743285,3.483498,4.353918,4.362629,4.382934,3.916494,2.057171,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.366735,3.250794,4.061352,4.105720,4.613420,4.505672,3.961670,3.713673,3.995981,3.966186
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027464,0.022566,0.012743,0.008002,0.002056,0.002030,0.004971,0.016029,0.019230,0.013124

In [8]:
remitgdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿Country Name  266 non-null    object
 1   Country Code     266 non-null    object
 2   1960             0 non-null      float64
 3   1961             0 non-null      float64
 4   1962             0 non-null      float64
 5   1963             0 non-null      float64
 6   1964             0 non-null      float64
 7   1965             0 non-null      float64
 8   1966             0 non-null      float64
 9   1967             0 non-null      float64
 10  1968             0 non-null      float64
 11  1969             0 non-null      float64
 12  1970             10 non-null     float64
 13  1971             13 non-null     float64
 14  1972             15 non-null     float64
 15  1973             15 non-null     float64
 16  1974             27 non-null     float64
 17  1975             52 non-null     float64
 18  1976             66 non-null     float64
 19  1977             94 non-null     float64
 20  1978             100 non-null    float64
 21  1979             117 non-null    float64
 22  1980             117 non-null    float64
 23  1981             121 non-null    float64
 24  1982             129 non-null    float64
 25  1983             134 non-null    float64
 26  1984             134 non-null    float64
 27  1985             134 non-null    float64
 28  1986             139 non-null    float64
 29  1987             139 non-null    float64
 30  1988             139 non-null    float64
 31  1989             140 non-null    float64
 32  1990             143 non-null    float64
 33  1991             150 non-null    float64
 34  1992             156 non-null    float64
 35  1993             163 non-null    float64
 36  1994             171 non-null    float64
 37  1995             182 non-null    float64
 38  1996             188 non-null    float64
 39  1997             186 non-null    float64
 40  1998             192 non-null    float64
 41  1999             192 non-null    float64
 42  2000             194 non-null    float64
 43  2001             197 non-null    float64
 44  2002             202 non-null    float64
 45  2003             205 non-null    float64
 46  2004             207 non-null    float64
 47  2005             235 non-null    float64
 48  2006             236 non-null    float64
 49  2007             236 non-null    float64
 50  2008             238 non-null    float64
 51  2009             238 non-null    float64
 52  2010             240 non-null    float64
 53  2011             240 non-null    float64
 54  2012             239 non-null    float64
 55  2013             242 non-null    float64
 56  2014             242 non-null    float64
 57  2015             241 non-null    float64
 58  2016             240 non-null    float64
 59  2017             240 non-null    float64
 60  2018             240 non-null    float64
 61  2019             239 non-null    float64
 62  2020             240 non-null    float64
 63  2021             227 non-null    float64
 64  2022             215 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [9]:
unemploymenttotallabor_df.head()

,ï»¿Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.910000,NaN,NaN,11.180000,NaN,NaN,11.71,5.58,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.345898,NaN,NaN,6.971441,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.580000,NaN,NaN,NaN,NaN,16.5,NaN,15.80,NaN

In [10]:
unemploymenttotallabor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿Country Name  266 non-null    object
 1   Country Code     266 non-null    object
 2   1960             2 non-null      float64
 3   1961             2 non-null      float64
 4   1962             2 non-null      float64
 5   1963             2 non-null      float64
 6   1964             2 non-null      float64
 7   1965             2 non-null      float64
 8   1966             2 non-null      float64
 9   1967             2 non-null      float64
 10  1968             2 non-null      float64
 11  1969             14 non-null     float64
 12  1970             19 non-null     float64
 13  1971             26 non-null     float64
 14  1972             28 non-null     float64
 15  1973             32 non-null     float64
 16  1974             35 non-null     float64
 17  1975             41 non-null     float64
 18  1976             40 non-null     float64
 19  1977             41 non-null     float64
 20  1978             42 non-null     float64
 21  1979             45 non-null     float64
 22  1980             48 non-null     float64
 23  1981             45 non-null     float64
 24  1982             54 non-null     float64
 25  1983             60 non-null     float64
 26  1984             55 non-null     float64
 27  1985             60 non-null     float64
 28  1986             65 non-null     float64
 29  1987             58 non-null     float64
 30  1988             59 non-null     float64
 31  1989             64 non-null     float64
 32  1990             87 non-null     float64
 33  1991             107 non-null    float64
 34  1992             100 non-null    float64
 35  1993             107 non-null    float64
 36  1994             116 non-null    float64
 37  1995             117 non-null    float64
 38  1996             126 non-null    float64
 39  1997             123 non-null    float64
 40  1998             118 non-null    float64
 41  1999             129 non-null    float64
 42  2000             138 non-null    float64
 43  2001             143 non-null    float64
 44  2002             139 non-null    float64
 45  2003             139 non-null    float64
 46  2004             142 non-null    float64
 47  2005             165 non-null    float64
 48  2006             149 non-null    float64
 49  2007             150 non-null    float64
 50  2008             144 non-null    float64
 51  2009             157 non-null    float64
 52  2010             164 non-null    float64
 53  2011             154 non-null    float64
 54  2012             163 non-null    float64
 55  2013             155 non-null    float64
 56  2014             167 non-null    float64
 57  2015             140 non-null    float64
 58  2016             143 non-null    float64
 59  2017             155 non-null    float64
 60  2018             149 non-null    float64
 61  2019             156 non-null    float64
 62  2020             140 non-null    float64
 63  2021             134 non-null    float64
 64  2022             28 non-null     float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [11]:
unemploymentilo_df.head()

,ï»¿Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.512784,6.555646,6.707142,6.855589,6.940365,6.913046,7.121663,7.631304,7.920219,7.916835
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000,11.710000,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.804447,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414,4.914143,4.873635,4.742175
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000,10.350000,10.384000,10.209000

In [12]:
unemploymentilo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿Country Name  266 non-null    object
 1   Country Code     266 non-null    object
 2   1960             0 non-null      float64
 3   1961             0 non-null      float64
 4   1962             0 non-null      float64
 5   1963             0 non-null      float64
 6   1964             0 non-null      float64
 7   1965             0 non-null      float64
 8   1966             0 non-null      float64
 9   1967             0 non-null      float64
 10  1968             0 non-null      float64
 11  1969             0 non-null      float64
 12  1970             0 non-null      float64
 13  1971             0 non-null      float64
 14  1972             0 non-null      float64
 15  1973             0 non-null      float64
 16  1974             0 non-null      float64
 17  1975             0 non-null      float64
 18  1976             0 non-null      float64
 19  1977             0 non-null      float64
 20  1978             0 non-null      float64
 21  1979             0 non-null      float64
 22  1980             0 non-null      float64
 23  1981             0 non-null      float64
 24  1982             0 non-null      float64
 25  1983             0 non-null      float64
 26  1984             0 non-null      float64
 27  1985             0 non-null      float64
 28  1986             0 non-null      float64
 29  1987             0 non-null      float64
 30  1988             0 non-null      float64
 31  1989             0 non-null      float64
 32  1990             0 non-null      float64
 33  1991             235 non-null    float64
 34  1992             235 non-null    float64
 35  1993             235 non-null    float64
 36  1994             235 non-null    float64
 37  1995             235 non-null    float64
 38  1996             235 non-null    float64
 39  1997             235 non-null    float64
 40  1998             235 non-null    float64
 41  1999             235 non-null    float64
 42  2000             235 non-null    float64
 43  2001             235 non-null    float64
 44  2002             235 non-null    float64
 45  2003             235 non-null    float64
 46  2004             235 non-null    float64
 47  2005             235 non-null    float64
 48  2006             235 non-null    float64
 49  2007             235 non-null    float64
 50  2008             235 non-null    float64
 51  2009             235 non-null    float64
 52  2010             235 non-null    float64
 53  2011             235 non-null    float64
 54  2012             235 non-null    float64
 55  2013             235 non-null    float64
 56  2014             235 non-null    float64
 57  2015             235 non-null    float64
 58  2016             235 non-null    float64
 59  2017             235 non-null    float64
 60  2018             235 non-null    float64
 61  2019             235 non-null    float64
 62  2020             235 non-null    float64
 63  2021             233 non-null    float64
 64  2022             229 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [13]:
population_df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

In [14]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   1960          264 non-null    float64
 3   1961          264 non-null    float64
 4   1962          264 non-null    float64
 5   1963          264 non-null    float64
 6   1964          264 non-null    float64
 7   1965          264 non-null    float64
 8   1966          264 non-null    float64
 9   1967          264 non-null    float64
 10  1968          264 non-null    float64
 11  1969          264 non-null    float64
 12  1970          264 non-null    float64
 13  1971          264 non-null    float64
 14  1972          264 non-null    float64
 15  1973          264 non-null    float64
 16  1974          264 non-null    float64
 17  1975          264 non-null    float64
 18  1976          264 non-null    float64
 19  1977          264 non-null    float64
 20  1978          264 non-null    float64
 21  1979          264 non-null    float64
 22  1980          264 non-null    float64
 23  1981          264 non-null    float64
 24  1982          264 non-null    float64
 25  1983          264 non-null    float64
 26  1984          264 non-null    float64
 27  1985          264 non-null    float64
 28  1986          264 non-null    float64
 29  1987          264 non-null    float64
 30  1988          264 non-null    float64
 31  1989          264 non-null    float64
 32  1990          265 non-null    float64
 33  1991          265 non-null    float64
 34  1992          265 non-null    float64
 35  1993          265 non-null    float64
 36  1994          265 non-null    float64
 37  1995          265 non-null    float64
 38  1996          265 non-null    float64
 39  1997          265 non-null    float64
 40  1998          265 non-null    float64
 41  1999          265 non-null    float64
 42  2000          265 non-null    float64
 43  2001          265 non-null    float64
 44  2002          265 non-null    float64
 45  2003          265 non-null    float64
 46  2004          265 non-null    float64
 47  2005          265 non-null    float64
 48  2006          265 non-null    float64
 49  2007          265 non-null    float64
 50  2008          265 non-null    float64
 51  2009          265 non-null    float64
 52  2010          265 non-null    float64
 53  2011          265 non-null    float64
 54  2012          265 non-null    float64
 55  2013          265 non-null    float64
 56  2014          265 non-null    float64
 57  2015          265 non-null    float64
 58  2016          265 non-null    float64
 59  2017          265 non-null    float64
 60  2018          265 non-null    float64
 61  2019          265 non-null    float64
 62  2020          265 non-null    float64
 63  2021          265 non-null    float64
 64  2022          265 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [15]:
# Rename columns
remitreceieved_df.rename(columns={'ï»¿Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
remitpaid_df.rename(columns={'ï»¿Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
remitgdp_df.rename(columns={'ï»¿Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
unemploymenttotallabor_df.rename(columns={'ï»¿Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
unemploymentilo_df.rename(columns={'ï»¿Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
population_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)

In [16]:
remitreceieved_df.head()

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.498404e+07,3.584564e+07,3.820385e+07
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.473592e+09,1.060859e+10,1.099148e+10,1.017869e+10,1.067768e+10,1.484476e+10,1.439873e+10,1.376489e+10,1.627555e+10,1.860932e+10
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08,3.000000e+08,3.500000e+08
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.807682e+10,2.907258e+10,3.121737e+10,2.838544e+10,3.159726e+10,3.455966e+10,3.258625e+10,2.920655e+10,3.214877e+10,3.317108e+10
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06,1.263115e+07,1.400549e+07

In [17]:
remitreceieved_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  266 non-null    object
 1   country_code  266 non-null    object
 2   1960          0 non-null      float64
 3   1961          0 non-null      float64
 4   1962          0 non-null      float64
 5   1963          0 non-null      float64
 6   1964          0 non-null      float64
 7   1965          0 non-null      float64
 8   1966          0 non-null      float64
 9   1967          0 non-null      float64
 10  1968          0 non-null      float64
 11  1969          0 non-null      float64
 12  1970          44 non-null     float64
 13  1971          57 non-null     float64
 14  1972          59 non-null     float64
 15  1973          59 non-null     float64
 16  1974          71 non-null     float64
 17  1975          92 non-null     float64
 18  1976          106 non-null    float64
 19  1977          124 non-null    float64
 20  1978          131 non-null    float64
 21  1979          136 non-null    float64
 22  1980          138 non-null    float64
 23  1981          138 non-null    float64
 24  1982          141 non-null    float64
 25  1983          145 non-null    float64
 26  1984          145 non-null    float64
 27  1985          145 non-null    float64
 28  1986          150 non-null    float64
 29  1987          153 non-null    float64
 30  1988          154 non-null    float64
 31  1989          155 non-null    float64
 32  1990          157 non-null    float64
 33  1991          159 non-null    float64
 34  1992          168 non-null    float64
 35  1993          175 non-null    float64
 36  1994          179 non-null    float64
 37  1995          185 non-null    float64
 38  1996          190 non-null    float64
 39  1997          189 non-null    float64
 40  1998          195 non-null    float64
 41  1999          196 non-null    float64
 42  2000          199 non-null    float64
 43  2001          201 non-null    float64
 44  2002          206 non-null    float64
 45  2003          209 non-null    float64
 46  2004          212 non-null    float64
 47  2005          241 non-null    float64
 48  2006          241 non-null    float64
 49  2007          241 non-null    float64
 50  2008          242 non-null    float64
 51  2009          242 non-null    float64
 52  2010          243 non-null    float64
 53  2011          243 non-null    float64
 54  2012          243 non-null    float64
 55  2013          243 non-null    float64
 56  2014          243 non-null    float64
 57  2015          243 non-null    float64
 58  2016          243 non-null    float64
 59  2017          243 non-null    float64
 60  2018          243 non-null    float64
 61  2019          243 non-null    float64
 62  2020          243 non-null    float64
 63  2021          229 non-null    float64
 64  2022          225 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [18]:
remitpaid_df.head()

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.665237e+07,7.022269e+07,7.497801e+07,9.805250e+07,1.080455e+08,1.116510e+08,1.126276e+08,1.017626e+08,1.113316e+08,1.082545e+08
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.726218e+09,6.397281e+09,5.086995e+09,4.369787e+09,4.632237e+09,5.063078e+09,4.852355e+09,4.959235e+09,4.953944e+09,2.981383e+09
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.447308e+08,5.241635e+08,2.289918e+08,1.678945e+08,1.439791e+08,2.346187e+08,2.172923e+08,2.254206e+08,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.951823e+09,2.963446e+09,6.049161e+09,4.979108e+09,3.922327e+09,3.928024e+09,3.078476e+09,3.103854e+09,2.905960e+09,1.122626e+08
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.395966e+09,2.746616e+09,1.252909e+09,1.176110e+09,9.614153e+08,6.816270e+08,5.490820e+08,5.764714e+08,4.454001e+08,5.176682e+08

In [19]:
remitpaid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  266 non-null    object
 1   country_code  266 non-null    object
 2   1960          0 non-null      float64
 3   1961          0 non-null      float64
 4   1962          0 non-null      float64
 5   1963          0 non-null      float64
 6   1964          0 non-null      float64
 7   1965          0 non-null      float64
 8   1966          0 non-null      float64
 9   1967          0 non-null      float64
 10  1968          0 non-null      float64
 11  1969          0 non-null      float64
 12  1970          38 non-null     float64
 13  1971          54 non-null     float64
 14  1972          55 non-null     float64
 15  1973          55 non-null     float64
 16  1974          65 non-null     float64
 17  1975          85 non-null     float64
 18  1976          107 non-null    float64
 19  1977          122 non-null    float64
 20  1978          129 non-null    float64
 21  1979          133 non-null    float64
 22  1980          143 non-null    float64
 23  1981          144 non-null    float64
 24  1982          148 non-null    float64
 25  1983          147 non-null    float64
 26  1984          146 non-null    float64
 27  1985          149 non-null    float64
 28  1986          152 non-null    float64
 29  1987          154 non-null    float64
 30  1988          153 non-null    float64
 31  1989          153 non-null    float64
 32  1990          155 non-null    float64
 33  1991          155 non-null    float64
 34  1992          158 non-null    float64
 35  1993          170 non-null    float64
 36  1994          176 non-null    float64
 37  1995          179 non-null    float64
 38  1996          184 non-null    float64
 39  1997          188 non-null    float64
 40  1998          191 non-null    float64
 41  1999          192 non-null    float64
 42  2000          192 non-null    float64
 43  2001          195 non-null    float64
 44  2002          201 non-null    float64
 45  2003          205 non-null    float64
 46  2004          208 non-null    float64
 47  2005          215 non-null    float64
 48  2006          219 non-null    float64
 49  2007          221 non-null    float64
 50  2008          222 non-null    float64
 51  2009          227 non-null    float64
 52  2010          227 non-null    float64
 53  2011          230 non-null    float64
 54  2012          231 non-null    float64
 55  2013          230 non-null    float64
 56  2014          234 non-null    float64
 57  2015          232 non-null    float64
 58  2016          230 non-null    float64
 59  2017          227 non-null    float64
 60  2018          226 non-null    float64
 61  2019          223 non-null    float64
 62  2020          223 non-null    float64
 63  2021          215 non-null    float64
 64  2022          153 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [20]:
remitgdp_df.head()

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.232335,0.267469,0.272810,1.765621,1.815559,1.126929,1.009013,1.340365,1.146686,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.963686,1.056650,1.189599,1.034992,0.989759,1.356090,1.441105,1.486589,1.502543,1.500187
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.688179,1.232898,1.743285,3.483498,4.353918,4.362629,4.382934,3.916494,2.057171,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.366735,3.250794,4.061352,4.105720,4.613420,4.505672,3.961670,3.713673,3.995981,3.966186
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027464,0.022566,0.012743,0.008002,0.002056,0.002030,0.004971,0.016029,0.019230,0.013124

In [21]:
remitgdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  266 non-null    object
 1   country_code  266 non-null    object
 2   1960          0 non-null      float64
 3   1961          0 non-null      float64
 4   1962          0 non-null      float64
 5   1963          0 non-null      float64
 6   1964          0 non-null      float64
 7   1965          0 non-null      float64
 8   1966          0 non-null      float64
 9   1967          0 non-null      float64
 10  1968          0 non-null      float64
 11  1969          0 non-null      float64
 12  1970          10 non-null     float64
 13  1971          13 non-null     float64
 14  1972          15 non-null     float64
 15  1973          15 non-null     float64
 16  1974          27 non-null     float64
 17  1975          52 non-null     float64
 18  1976          66 non-null     float64
 19  1977          94 non-null     float64
 20  1978          100 non-null    float64
 21  1979          117 non-null    float64
 22  1980          117 non-null    float64
 23  1981          121 non-null    float64
 24  1982          129 non-null    float64
 25  1983          134 non-null    float64
 26  1984          134 non-null    float64
 27  1985          134 non-null    float64
 28  1986          139 non-null    float64
 29  1987          139 non-null    float64
 30  1988          139 non-null    float64
 31  1989          140 non-null    float64
 32  1990          143 non-null    float64
 33  1991          150 non-null    float64
 34  1992          156 non-null    float64
 35  1993          163 non-null    float64
 36  1994          171 non-null    float64
 37  1995          182 non-null    float64
 38  1996          188 non-null    float64
 39  1997          186 non-null    float64
 40  1998          192 non-null    float64
 41  1999          192 non-null    float64
 42  2000          194 non-null    float64
 43  2001          197 non-null    float64
 44  2002          202 non-null    float64
 45  2003          205 non-null    float64
 46  2004          207 non-null    float64
 47  2005          235 non-null    float64
 48  2006          236 non-null    float64
 49  2007          236 non-null    float64
 50  2008          238 non-null    float64
 51  2009          238 non-null    float64
 52  2010          240 non-null    float64
 53  2011          240 non-null    float64
 54  2012          239 non-null    float64
 55  2013          242 non-null    float64
 56  2014          242 non-null    float64
 57  2015          241 non-null    float64
 58  2016          240 non-null    float64
 59  2017          240 non-null    float64
 60  2018          240 non-null    float64
 61  2019          239 non-null    float64
 62  2020          240 non-null    float64
 63  2021          227 non-null    float64
 64  2022          215 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [22]:
unemploymenttotallabor_df.head()

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.910000,NaN,NaN,11.180000,NaN,NaN,11.71,5.58,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.345898,NaN,NaN,6.971441,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.580000,NaN,NaN,NaN,NaN,16.5,NaN,15.80,NaN

In [23]:
unemploymentilo_df.head()

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.512784,6.555646,6.707142,6.855589,6.940365,6.913046,7.121663,7.631304,7.920219,7.916835
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000,11.710000,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.804447,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414,4.914143,4.873635,4.742175
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000,10.350000,10.384000,10.209000

In [24]:
unemploymentilo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  266 non-null    object
 1   country_code  266 non-null    object
 2   1960          0 non-null      float64
 3   1961          0 non-null      float64
 4   1962          0 non-null      float64
 5   1963          0 non-null      float64
 6   1964          0 non-null      float64
 7   1965          0 non-null      float64
 8   1966          0 non-null      float64
 9   1967          0 non-null      float64
 10  1968          0 non-null      float64
 11  1969          0 non-null      float64
 12  1970          0 non-null      float64
 13  1971          0 non-null      float64
 14  1972          0 non-null      float64
 15  1973          0 non-null      float64
 16  1974          0 non-null      float64
 17  1975          0 non-null      float64
 18  1976          0 non-null      float64
 19  1977          0 non-null      float64
 20  1978          0 non-null      float64
 21  1979          0 non-null      float64
 22  1980          0 non-null      float64
 23  1981          0 non-null      float64
 24  1982          0 non-null      float64
 25  1983          0 non-null      float64
 26  1984          0 non-null      float64
 27  1985          0 non-null      float64
 28  1986          0 non-null      float64
 29  1987          0 non-null      float64
 30  1988          0 non-null      float64
 31  1989          0 non-null      float64
 32  1990          0 non-null      float64
 33  1991          235 non-null    float64
 34  1992          235 non-null    float64
 35  1993          235 non-null    float64
 36  1994          235 non-null    float64
 37  1995          235 non-null    float64
 38  1996          235 non-null    float64
 39  1997          235 non-null    float64
 40  1998          235 non-null    float64
 41  1999          235 non-null    float64
 42  2000          235 non-null    float64
 43  2001          235 non-null    float64
 44  2002          235 non-null    float64
 45  2003          235 non-null    float64
 46  2004          235 non-null    float64
 47  2005          235 non-null    float64
 48  2006          235 non-null    float64
 49  2007          235 non-null    float64
 50  2008          235 non-null    float64
 51  2009          235 non-null    float64
 52  2010          235 non-null    float64
 53  2011          235 non-null    float64
 54  2012          235 non-null    float64
 55  2013          235 non-null    float64
 56  2014          235 non-null    float64
 57  2015          235 non-null    float64
 58  2016          235 non-null    float64
 59  2017          235 non-null    float64
 60  2018          235 non-null    float64
 61  2019          235 non-null    float64
 62  2020          235 non-null    float64
 63  2021          233 non-null    float64
 64  2022          229 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [25]:
population_df.head()

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

In [26]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  266 non-null    object
 1   country_code  266 non-null    object
 2   1960          264 non-null    float64
 3   1961          264 non-null    float64
 4   1962          264 non-null    float64
 5   1963          264 non-null    float64
 6   1964          264 non-null    float64
 7   1965          264 non-null    float64
 8   1966          264 non-null    float64
 9   1967          264 non-null    float64
 10  1968          264 non-null    float64
 11  1969          264 non-null    float64
 12  1970          264 non-null    float64
 13  1971          264 non-null    float64
 14  1972          264 non-null    float64
 15  1973          264 non-null    float64
 16  1974          264 non-null    float64
 17  1975          264 non-null    float64
 18  1976          264 non-null    float64
 19  1977          264 non-null    float64
 20  1978          264 non-null    float64
 21  1979          264 non-null    float64
 22  1980          264 non-null    float64
 23  1981          264 non-null    float64
 24  1982          264 non-null    float64
 25  1983          264 non-null    float64
 26  1984          264 non-null    float64
 27  1985          264 non-null    float64
 28  1986          264 non-null    float64
 29  1987          264 non-null    float64
 30  1988          264 non-null    float64
 31  1989          264 non-null    float64
 32  1990          265 non-null    float64
 33  1991          265 non-null    float64
 34  1992          265 non-null    float64
 35  1993          265 non-null    float64
 36  1994          265 non-null    float64
 37  1995          265 non-null    float64
 38  1996          265 non-null    float64
 39  1997          265 non-null    float64
 40  1998          265 non-null    float64
 41  1999          265 non-null    float64
 42  2000          265 non-null    float64
 43  2001          265 non-null    float64
 44  2002          265 non-null    float64
 45  2003          265 non-null    float64
 46  2004          265 non-null    float64
 47  2005          265 non-null    float64
 48  2006          265 non-null    float64
 49  2007          265 non-null    float64
 50  2008          265 non-null    float64
 51  2009          265 non-null    float64
 52  2010          265 non-null    float64
 53  2011          265 non-null    float64
 54  2012          265 non-null    float64
 55  2013          265 non-null    float64
 56  2014          265 non-null    float64
 57  2015          265 non-null    float64
 58  2016          265 non-null    float64
 59  2017          265 non-null    float64
 60  2018          265 non-null    float64
 61  2019          265 non-null    float64
 62  2020          265 non-null    float64
 63  2021          265 non-null    float64
 64  2022          265 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [27]:
def rearrange_datasets(remitreceieved_df, remitpaid_df, remitgdp_df, unemploymentilo_df, population_df):
    # Rearrange remitreceieved_df
    remitreceieved_rearranged = pd.melt(remitreceieved_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='remittance_received')

    # Rearrange remitpaid_df
    remitpaid_rearranged = pd.melt(remitpaid_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='remittance_paid')

    # Rearrange remitgdp_df
    remitgdp_rearranged = pd.melt(remitgdp_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='gdp')

    # Rearrange unemploymentilo_df
    unemploymentilo_rearranged = pd.melt(unemploymentilo_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='unemployment_rate')
    
     # Rearrange unemploymentilo_df
    population_rearranged = pd.melt(population_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='population')
    
    return remitreceieved_rearranged, remitpaid_rearranged, remitgdp_rearranged, unemploymentilo_rearranged, population_rearranged


# Call the function to rearrange the DataFrames
remit_received_rearranged, remit_paid_rearranged, remit_gdp_rearranged, unemployment_rearranged,population_rearranged = rearrange_datasets(remitreceieved_df, remitpaid_df, remitgdp_df, unemploymentilo_df, population_df)

In [28]:
remit_received_rearranged.head()

                  country_name country_code  Year  remittance_received
0                        Aruba          ABW  1960                  NaN
1  Africa Eastern and Southern          AFE  1960                  NaN
2                  Afghanistan          AFG  1960                  NaN
3   Africa Western and Central          AFW  1960                  NaN
4                       Angola          AGO  1960                  NaN

In [29]:
remit_paid_rearranged.head()

                  country_name country_code  Year  remittance_paid
0                        Aruba          ABW  1960              NaN
1  Africa Eastern and Southern          AFE  1960              NaN
2                  Afghanistan          AFG  1960              NaN
3   Africa Western and Central          AFW  1960              NaN
4                       Angola          AGO  1960              NaN

In [30]:
remit_gdp_rearranged.head()

                  country_name country_code  Year  gdp
0                        Aruba          ABW  1960  NaN
1  Africa Eastern and Southern          AFE  1960  NaN
2                  Afghanistan          AFG  1960  NaN
3   Africa Western and Central          AFW  1960  NaN
4                       Angola          AGO  1960  NaN

In [31]:
unemployment_rearranged.head()

                  country_name country_code  Year  unemployment_rate
0                        Aruba          ABW  1960                NaN
1  Africa Eastern and Southern          AFE  1960                NaN
2                  Afghanistan          AFG  1960                NaN
3   Africa Western and Central          AFW  1960                NaN
4                       Angola          AGO  1960                NaN

In [32]:
population_rearranged.head()

                  country_name country_code  Year   population
0                        Aruba          ABW  1960      54608.0
1  Africa Eastern and Southern          AFE  1960  130692579.0
2                  Afghanistan          AFG  1960    8622466.0
3   Africa Western and Central          AFW  1960   97256290.0
4                       Angola          AGO  1960    5357195.0

In [33]:
# Merge remit_received_rearranged and remit_paid_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = remit_received_rearranged.merge(remit_paid_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

# Merge merged_df and remit_gdp_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = merged_df.merge(remit_gdp_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

# Merge merged_df and unemployment_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = merged_df.merge(unemployment_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

# Merge merged_df and population_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = merged_df.merge(population_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

In [34]:
merged_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population
0,Aruba,ABW,1960,NaN,NaN,NaN,NaN,54608.0
1,Africa Eastern and Southern,AFE,1960,NaN,NaN,NaN,NaN,130692579.0
2,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,8622466.0
3,Africa Western and Central,AFW,1960,NaN,NaN,NaN,NaN,97256290.0
4,Angola,AGO,1960,NaN,NaN,NaN,NaN,5357195.0

In [35]:
merged_df.sample(50)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population
13517,Sub-Saharan Africa,SSF,2010,3.165706e+10,5.360464e+09,2.171218,5.909842,8.797974e+08
2482,Equatorial Guinea,GNQ,1969,NaN,NaN,NaN,NaN,3.188460e+05
13179,Latvia,LVA,2009,1.586661e+09,5.713950e+08,6.007598,17.510000,2.141669e+06
10325,Sub-Saharan Africa,SSF,1998,3.705135e+09,2.102999e+09,1.042693,6.062267,6.371985e+08
3064,Sri Lanka,LKA,1971,NaN,NaN,NaN,NaN,1.265465e+07
14239,Lesotho,LSO,2013,4.629188e+08,0.000000e+00,19.556261,16.916000,2.073939e+06
6647,South Africa,ZAF,1984,6.479719e+07,9.341068e+08,0.076349,NaN,3.276821e+07
16306,Gabon,GAB,2021,1.400000e+07,NaN,0.069245,21.836000,2.341179e+06
11046,Low & middle income,LMY,2001,8.260341e+10,8.942816e+09,1.413213,6.068167,5.092598e+09
5206,Maldives,MDV,1979,NaN,NaN,NaN,NaN,1.603260e+05
9957,Israel,ISR,1997,2.002000e+08,2.399300e+09,0.168432,9.750000,5.836000e+06
9908,Ecuador,ECU,1997,6.477200e+08,4.400000e+06,2.299974,4.538000,1.198784e+07
3876,Maldives,MDV,1974,NaN,NaN,NaN,NaN,1.389440e+05
11129,Sweden,SWE,2001,5.781848e+08,5.781075e+08,0.238530,4.730000,8.895960e+06
2221,Guam,GUM,1968,NaN,NaN,NaN,NaN,8.504600e+04
8848,Spain,ESP,1993,2.321500e+09,4.980846e+08,0.442127,22.160000,3.936126e+07
5538,Small states,SST,1980,7.078786e+08,6.805784e+08,NaN,NaN,2.094305e+07
15923,Chad,TCD,2019,0.000000e+00,NaN,0.000000,1.120000,1.612687e+07
3230,Channel Islands,CHI,1972,NaN,NaN,NaN,NaN,1.233480e+05
14417,Cyprus,CYP,2014,3.230881e+08,7.902065e+08,1.391067,16.090000,1.176995e+06
16517,Belarus,BLR,2022,1.465140e+09,2.361055e+08,2.012735,4.170000,9.208701e+06
2905,Tuvalu,TUV,1970,NaN,NaN,NaN,NaN,5.814000e+03
525,World,WLD,1961,NaN,NaN,NaN,NaN,3.072422e+09
12321,Guinea,GIN,2006,2.950000e+07,5.160000e+07,0.699049,4.740000,9.330625e+06
7264,Georgia,GEO,1987,NaN,NaN,NaN,NaN,4.743500e+06
4334,Faroe Islands,FRO,1976,NaN,NaN,NaN,NaN,4.105400e+04
5693,IDA only,IDX,1981,2.351204e+09,1.060204e+09,2.253286,NaN,4.622467e+08
9827,United States,USA,1996,2.181000e+09,2.372320e+10,0.027016,5.450000,2.693940e+08
8272,Belize,BLZ,1991,1.560000e+07,5.700000e+06,2.604341,9.730000,1.864620e+05
5474,Mexico,MEX,1980,1.039000e+09,1.100000e+07,0.505407,NaN,6.770519e+07
687,Marshall Islands,MHL,1962,NaN,NaN,NaN,NaN,1.638700e+04
941,Lithuania,LTU,1963,NaN,NaN,NaN,NaN,2.898950e+06
3788,Europe & Central Asia (excluding high income),ECA,1974,1.426000e+09,NaN,4.005652,NaN,3.067157e+08
1321,Vietnam,VNM,1964,NaN,NaN,NaN,NaN,3.650917e+07
11732,Bolivia,BOL,2004,2.105587e+08,5.058678e+07,2.399952,2.503000,9.216279e+06
11074,Malawi,MWI,2001,7.468860e+05,6.230147e+05,0.029899,4.990000,1.149882e+07
2365,Timor-Leste,TLS,1968,NaN,NaN,NaN,NaN,5.346490e+05
13021,St. Vincent and the Grenadines,VCT,2008,2.677656e+07,5.265628e+06,3.654688,18.790000,1.103160e+05
8892,Iceland,ISL,1993,5.786733e+07,1.040904e+07,0.930555,5.260000,2.637250e+05
12667,Mozambique,MOZ,2007,9.938584e+07,4.525048e+07,0.950985,3.097000,2.128051e+07
15550,Kyrgyz Republic,KGZ,2018,2.688570e+09,5.604922e+08,32.505569,3.670000,6.322800e+06
15444,Burundi,BDI,2018,4.832863e+07,1.933179e+07,1.811973,1.017000,1.149347e+07
5753,Mauritius,MUS,1981,NaN,1.342801e+06,NaN,NaN,9.804620e+05
13762,West Bank and Gaza,PSE,2011,1.141713e+09,4.791511e+07,10.206533,17.600000,3.882986e+06
1795,French Polynesia,PYF,1966,NaN,NaN,NaN,NaN,1.022810e+05
8512,Aruba,ABW,1992,2.625698e+06,4.692737e+06,0.273893,NaN,7.019200e+04
6698,Costa Rica,CRI,1985,7.200000e+06,7.000000e+05,0.183711,NaN,2.771463e+06
2414,Bangladesh,BGD,1969,NaN,NaN,NaN,NaN,6.586691e+07
12129,Malta,MLT,2005,2.220826e+08,1.922272e+08,3.466094,6.920000,4.038340e+05
11654,South Sudan,SSD,2003,NaN,NaN,NaN,12.135000,6.992367e+06

In [36]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16758 entries, 0 to 16757
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_name         16758 non-null  object
 1   country_code         16758 non-null  object
 2   Year                 16758 non-null  object
 3   remittance_received  9497 non-null   float64
 4   remittance_paid      9066 non-null   float64
 5   gdp                  8831 non-null   float64
 6   unemployment_rate    7512 non-null   float64
 7   population           16665 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1.2+ MB

In [37]:
# Save the merged DataFrame to a CSV file
merged_df.to_csv('merged_data.csv', index=False)

# Feature engineering

In [40]:
# Remittance-to-GDP Ratio
merged_df['remittance_to_gdp_ratio'] = merged_df['remittance_received'] / merged_df['gdp']

# Remittance per Capita
merged_df['remittance_per_capita'] = merged_df['remittance_received'] / merged_df['population']

In [41]:
merged_df.sample(50)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita
16186,Seychelles,SYC,2020,9.979687e+06,4.485822e+07,0.843224,NaN,9.846200e+04,-57.799416,1.183515e+07,101.355717
4151,Middle East & North Africa (excluding high inc...,MNA,1975,9.656770e+08,5.330060e+07,NaN,NaN,1.445007e+08,248.842231,NaN,6.682853
6500,Italy,ITA,1984,3.274925e+09,4.993344e+08,0.747892,NaN,5.657672e+07,-3.125723,4.378877e+09,57.884677
14883,St. Vincent and the Grenadines,VCT,2015,4.178992e+07,1.005244e+07,5.313036,18.969000,1.064820e+05,-4.211952,7.865546e+06,392.459992
4541,Burkina Faso,BFA,1977,6.014742e+07,4.051617e+07,5.317017,NaN,6.416569e+06,17.882681,1.131225e+07,9.373767
16509,Belgium,BEL,2022,1.343774e+10,7.783783e+09,2.322441,5.631000,1.166945e+07,-1.977827,5.786041e+09,1151.531782
4835,Cabo Verde,CPV,1978,2.360232e+07,NaN,NaN,NaN,3.116850e+05,-2.797133,NaN,75.724908
3157,Europe & Central Asia (IDA & IBRD countries),TEC,1971,NaN,NaN,NaN,NaN,3.546496e+08,NaN,NaN,NaN
12213,Tunisia,TUN,2005,1.392673e+09,1.564628e+07,4.315397,12.870000,1.038834e+07,-2.702225,3.227218e+08,134.061089
3200,United Arab Emirates,ARE,1972,NaN,NaN,NaN,NaN,3.923680e+05,NaN,NaN,NaN
8338,Guatemala,GTM,1991,1.789000e+08,1.920000e+07,1.901950,2.656000,9.296814e+06,50.716090,9.406135e+07,19.243151
15916,Slovenia,SVN,2019,6.628630e+08,3.195960e+08,1.220032,4.450000,2.088385e+06,2.794567,5.433159e+08,317.404587
3034,Isle of Man,IMN,1971,NaN,NaN,NaN,NaN,5.643100e+04,NaN,NaN,NaN
7074,Mali,MLI,1986,6.843661e+07,3.782783e+07,3.694955,NaN,8.334588e+06,2.146284,1.852163e+07,8.211157
16586,Guyana,GUY,2022,4.004811e+08,NaN,2.607717,12.358000,8.087260e+05,-26.902325,1.535754e+08,495.199944
15964,Angola,AGO,2020,8.053051e+06,5.764714e+08,0.016029,10.350000,3.342849e+07,133.728426,5.024137e+08,0.240904
5151,Honduras,HND,1979,1.500000e+06,NaN,0.042322,NaN,3.662736e+06,20.000000,3.544282e+07,0.409530
13189,Marshall Islands,MHL,2009,2.358655e+07,4.432601e+06,15.659132,NaN,5.359300e+04,2.261909,1.506249e+06,440.105073
4590,Euro area,EMU,1977,8.967570e+09,8.865043e+09,0.511059,NaN,2.981870e+08,31.964776,1.754702e+10,30.073642
4316,Algeria,DZA,1976,2.550000e+08,NaN,1.438383,NaN,1.650052e+07,-4.135338,1.772824e+08,15.454062
4183,"Korea, Dem. People's Rep.",PRK,1975,NaN,NaN,NaN,NaN,1.672325e+07,NaN,NaN,NaN
7854,Low & middle income,LMY,1989,2.513277e+10,4.104521e+09,1.077639,NaN,4.163156e+09,8.475746,2.332206e+10,6.036951
4135,Latvia,LVA,1975,NaN,NaN,NaN,NaN,2.456130e+06,NaN,NaN,NaN
10802,Montenegro,MNE,2000,NaN,NaN,NaN,28.803000,6.049500e+05,NaN,NaN,NaN
3602,Luxembourg,LUX,1973,NaN,NaN,NaN,NaN,3.504500e+05,NaN,NaN,NaN
2460,Ecuador,ECU,1969,NaN,NaN,NaN,NaN,5.997037e+06,NaN,NaN,NaN
15835,Lesotho,LSO,2019,5.437069e+08,NaN,22.319388,16.880000,2.225702e+06,-6.548069,2.436030e+07,244.285580
14710,Gabon,GAB,2015,1.845804e+07,1.217112e+08,0.128331,20.601000,2.028517e+06,-37.360614,1.438311e+08,9.099279
12145,Nicaragua,NIC,2005,6.157000e+08,NaN,9.740047,5.370000,5.454678e+06,18.677718,6.321324e+07,112.875590
12542,China,CHN,2007,6.833130e+09,2.493058e+09,0.192465,4.350000,1.317885e+09,58.192879,3.550328e+10,5.184921
8251,Albania,ALB,1991,NaN,NaN,NaN,10.307000,3.266790e+06,NaN,NaN,NaN
7247,Europe & Central Asia,ECS,1987,2.386719e+10,2.300522e+10,0.442079,NaN,8.276669e+08,26.706049,5.398850e+10,28.836713
1086,Bahrain,BHR,1964,NaN,NaN,NaN,NaN,1.865870e+05,NaN,NaN,NaN
5844,Vanuatu,VUT,1981,NaN,NaN,NaN,NaN,1.208870e+05,NaN,NaN,NaN
9434,Kiribati,KIR,1995,NaN,NaN,NaN,NaN,8.148100e+04,0.000000,NaN,NaN
5418,Heavily indebted poor countries (HIPC),HPC,1980,9.575249e+08,1.536070e+09,1.351051,NaN,2.760493e+08,54.722085,7.087257e+08,3.468673
16135,Nicaragua,NIC,2020,1.855000e+09,1.500000e+06,14.631458,5.937000,6.755895e+06,9.997628,1.267816e+08,274.575019
6898,Ukraine,UKR,1985,NaN,NaN,NaN,NaN,5.091700e+07,NaN,NaN,NaN
9018,South Asia (IDA & IBRD),TSA,1993,6.664947e+09,2.902244e+08,1.760450,6.022132,1.219180e+09,12.351852,3.785933e+09,5.466746
4955,Mauritius,MUS,1978,NaN,1.622514e+06,NaN,NaN,9.334990e+05,NaN,NaN,NaN
13057,"Bahamas, The",BHS,2009,NaN,6.334000e+07,NaN,14.250000,3.680570e+05,NaN,NaN,NaN
9734,Mali,MLI,1996,1.107198e+08,2.267998e+07,3.982123,1.251000,1.013191e+07,-1.240831,2.780422e+07,10.927839
1404,Fragile and conflict affected situations,FCS,1965,NaN,NaN,NaN,NaN,2.729992e+08,NaN,NaN,NaN
10963,Dominica,DMA,2001,1.434259e+07,6.666667e+03,4.215884,NaN,6.815300e+04,6.066831,3.402037e+06,210.446974
1116,Cayman Islands,CYM,1964,NaN,NaN,NaN,NaN,9.172000e+03,NaN,NaN,NaN
13598,Bhutan,BTN,2011,1.046053e+07,9.228327e+07,0.588629,3.230000,7.133310e+05,26.434498,1.777103e+07,14.664348
4598,Fiji,FJI,1977,NaN,NaN,NaN,NaN,5.992890e+05,NaN,NaN,NaN
15739,Colombia,COL,2019,7.115322e+09,3.481727e+08,2.202670,9.960000,5.018741e+07,6.595324,3.230317e+09,141.775058
13697,Liberia,LBR,2011,5.230025e+08,3.066045e+08,21.809946,2.212000,4.181150e+06,77.751765,2.398000e+07,125.085804
6008,Middle income,MIC,1982,1.902307e+10,4.856758e+09,1.181423,NaN,3.379188e+09,13.116234,1.610183e+10,5.629478

In [42]:
# Remittance Volatility
merged_df['remittance_volatility'] = merged_df.groupby('country_name')['remittance_received'].transform('std')

In [46]:
# Remittance Growth Rate
merged_df['remittance_growth_rate'] = merged_df.groupby('country_name')['remittance_received'].pct_change() * 100

In [43]:
# Sort the DataFrame by 'country_name' and 'Year'
merged_df = merged_df.sort_values(by=['country_name', 'Year'])

In [44]:
# Calculate the remittance growth rate
merged_df['remittance_growth_rate'] = merged_df.groupby('country_name')['remittance_received'].pct_change() * 100

# Unemployment Rate Change
merged_df['unemployment_rate_change'] = merged_df.groupby('country_name')['unemployment_rate'].diff()

In [45]:
merged_df.head(16000)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,unemployment_rate_change
2,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,2.934855e+08,NaN
268,Afghanistan,AFG,1961,NaN,NaN,NaN,NaN,8790140.0,NaN,NaN,NaN,2.934855e+08,NaN
534,Afghanistan,AFG,1962,NaN,NaN,NaN,NaN,8969047.0,NaN,NaN,NaN,2.934855e+08,NaN
800,Afghanistan,AFG,1963,NaN,NaN,NaN,NaN,9157465.0,NaN,NaN,NaN,2.934855e+08,NaN
1066,Afghanistan,AFG,1964,NaN,NaN,NaN,NaN,9355514.0,NaN,NaN,NaN,2.934855e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15147,United States,USA,2016,6.330000e+09,6.287000e+10,0.033859,4.87,323071755.0,-3.770143,1.869511e+11,19.593171,2.572992e+09,-0.41
15413,United States,USA,2017,6.347000e+09,6.411400e+10,0.032587,4.36,325122128.0,0.268562,1.947734e+11,19.521895,2.572992e+09,-0.51
15679,United States,USA,2018,6.941000e+09,6.683600e+10,0.033804,3.90,326838199.0,9.358752,2.053306e+11,21.236808,2.572992e+09,-0.46
15945,United States,USA,2019,7.049000e+09,7.158300e+10,0.032969,3.67,328329953.0,1.555972,2.138098e+11,21.469257,2.572992e+09,-0.23
16211,United States,USA,2020,6.627000e+09,6.654300e+10,0.031467,8.05,331511512.0,-5.986665,2.106047e+11,19.990256,2.572992e+09,4.38

In [46]:
new_df = remitreceieved_df = pd.read_csv('_Remittance Merged_1970_- _2022.csv', encoding='latin-1')

In [47]:
new_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,Region,IncomeGroup
0,Aruba,ABW,1970,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
1,Aruba,ABW,1971,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
2,Aruba,ABW,1972,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
3,Aruba,ABW,1973,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
4,Aruba,ABW,1974,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income

In [51]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11501 entries, 0 to 11500
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_name         11501 non-null  object
 1   country_code         11501 non-null  object
 2   Year                 11501 non-null  int64
 3   remittance_received  11501 non-null  float64
 4   remittance_paid      11501 non-null  float64
 5   gdp                  11501 non-null  float64
 6   unemployment_rate    11501 non-null  float64
 7   Region               11501 non-null  object
 8   IncomeGroup          11501 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 808.8+ KB

In [49]:
new_df.sample(50)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,Region,IncomeGroup
6006,Sri Lanka,LKA,1987,3.500584e+08,0.000000e+00,5.238696,0.000,South Asia,Lower middle income
546,Australia,AUS,1986,1.053349e+09,2.918842e+08,0.577266,0.000,East Asia & Pacific,High income
10781,United States,USA,1992,1.796000e+09,1.615630e+10,0.027545,7.500,North America,High income
8944,Sudan,SDN,2010,1.455537e+09,7.886324e+05,1.962933,15.130,Sub-Saharan Africa,Low income
9048,Singapore,SGP,2008,0.000000e+00,0.000000e+00,0.000000,3.960,East Asia & Pacific,High income
11321,"Yemen, Rep.",YEM,2002,1.294000e+09,6.430400e+07,12.099532,11.845,Middle East & North Africa,Low income
3036,"Egypt, Arab Rep.",EGY,1985,3.211714e+09,0.000000e+00,8.223883,0.000,Middle East & North Africa,Lower middle income
6673,Mexico,MEX,2018,3.576842e+10,9.998489e+08,2.926068,3.270,Latin America & Caribbean,Upper middle income
3441,France,FRA,2019,3.002473e+10,1.504121e+10,1.100262,8.410,Europe & Central Asia,High income
3751,Ghana,GHA,2011,2.134639e+09,0.000000e+00,5.426587,4.223,Sub-Saharan Africa,Lower middle income
3763,Gibraltar,GIB,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income
7079,Northern Mariana Islands,MNP,2000,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,High income
5772,Lebanon,LBN,2018,6.977962e+09,5.007029e+09,12.709962,10.728,Middle East & North Africa,Lower middle income
2938,Algeria,DZA,1993,1.140000e+09,0.000000e+00,2.282484,26.230,Middle East & North Africa,Lower middle income
6681,Marshall Islands,MHL,1973,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,Upper middle income
6293,"Macao SAR, China",MAC,2009,4.838181e+07,7.683192e+08,0.224117,3.580,East Asia & Pacific,High income
4000,Equatorial Guinea,GNQ,1995,1.001706e+05,0.000000e+00,0.070616,7.804,Sub-Saharan Africa,Upper middle income
2057,Cameroon,CMR,2013,2.441286e+08,6.513064e+07,0.723802,3.675,Sub-Saharan Africa,Lower middle income
7616,Nicaragua,NIC,2007,7.396000e+08,0.000000e+00,9.963136,4.890,Latin America & Caribbean,Lower middle income
8255,Papua New Guinea,PNG,2010,3.501731e+06,3.946086e+08,0.024572,2.000,East Asia & Pacific,Lower middle income
4785,Ireland,IRL,1985,0.000000e+00,6.183191e+07,0.000000,0.000,Europe & Central Asia,High income
5077,Italy,ITA,2012,9.166139e+09,1.182129e+10,0.439211,10.650,Europe & Central Asia,High income
3103,Eritrea,ERI,1999,3.634005e+06,1.265691e+06,0.527494,5.606,Sub-Saharan Africa,Low income
1258,Belize,BLZ,2009,7.857840e+07,2.250892e+07,4.675894,8.244,Latin America & Caribbean,Upper middle income
3838,Guinea,GIN,1992,9.230000e+06,2.157000e+07,0.281007,4.540,Sub-Saharan Africa,Lower middle income
10660,Ukraine,UKR,1977,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,Lower middle income
1367,Bolivia,BOL,2012,1.110532e+09,1.471127e+08,4.100250,2.070,Latin America & Caribbean,Lower middle income
5936,Liechtenstein,LIE,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income
4488,Croatia,HRV,2006,1.926149e+09,2.622230e+08,3.888650,11.130,Europe & Central Asia,High income
8260,Papua New Guinea,PNG,2015,3.944548e+06,2.806513e+08,0.018158,2.449,East Asia & Pacific,Lower middle income
820,Benin,BEN,1995,9.893230e+07,2.648451e+07,4.559876,1.237,Sub-Saharan Africa,Lower middle income
2695,Germany,DEU,2015,1.556585e+10,1.432088e+10,0.463602,4.620,Europe & Central Asia,High income
1667,Central African Republic,CAF,1994,0.000000e+00,2.737729e+07,0.000000,5.470,Sub-Saharan Africa,Low income
9409,South Sudan,SSD,1998,0.000000e+00,0.000000e+00,0.000000,12.145,Sub-Saharan Africa,Low income
5234,Japan,JPN,2010,1.684469e+09,4.365715e+09,0.029249,5.100,East Asia & Pacific,High income
5426,Cambodia,KHM,1990,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,Lower middle income
2279,Cabo Verde,CPV,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
6589,Maldives,MDV,1987,1.000000e+06,3.665144e+06,0.708100,0.000,South Asia,Upper middle income
10205,Turkmenistan,TKM,1999,0.000000e+00,0.000000e+00,0.000000,12.700,Europe & Central Asia,Upper middle income
2954,Algeria,DZA,2009,1.503370e+08,4.570241e+07,0.109566,10.160,Middle East & North Africa,Lower middle income
3236,Ethiopia,ETH,1973,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Low income
5770,Lebanon,LBN,2016,7.605730e+09,4.170870e+09,14.870244,9.723,Middle East & North Africa,Lower middle income
5294,Kazakhstan,KAZ,2017,5.604210e+08,2.690697e+09,0.335972,4.900,Europe & Central Asia,Upper middle income
7319,Malaysia,MYS,1975,4.177487e+06,4.595236e+06,0.044925,0.000,East Asia & Pacific,Upper middle income
11445,Zambia,ZMB,2020,1.348648e+08,8.851089e+07,0.744672,6.030,Sub-Saharan Africa,Lower middle income
158,Angola,AGO,2022,1.400549e+07,5.176682e+08,0.013124,10.209,Sub-Saharan Africa,Lower middle income
472,American Samoa,ASM,2018,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,High income
3495,Faroe Islands,FRO,2020,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income
4549,Haiti,HTI,2014,1.977034e+09,2.485971e+08,13.052414,13.960,Latin America & Caribbean,Lower middle income
2813,Denmark,DNK,1974,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income

In [50]:
new_df[new_df['country_name'] == 'Nigeria']

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,Region,IncomeGroup
7526,Nigeria,NGA,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7527,Nigeria,NGA,1971,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7528,Nigeria,NGA,1972,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7529,Nigeria,NGA,1973,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7530,Nigeria,NGA,1974,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7531,Nigeria,NGA,1975,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7532,Nigeria,NGA,1976,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7533,Nigeria,NGA,1977,2.016438e+07,1.985416e+08,0.055957,0.000,Sub-Saharan Africa,Lower middle income
7534,Nigeria,NGA,1978,3.148258e+06,2.534348e+08,0.008619,0.000,Sub-Saharan Africa,Lower middle income
7535,Nigeria,NGA,1979,8.278045e+06,3.559559e+08,0.017516,0.000,Sub-Saharan Africa,Lower middle income
7536,Nigeria,NGA,1980,2.194663e+07,5.230615e+08,0.034184,0.000,Sub-Saharan Africa,Lower middle income
7537,Nigeria,NGA,1981,1.618887e+07,4.840473e+08,0.009843,0.000,Sub-Saharan Africa,Lower middle income
7538,Nigeria,NGA,1982,1.781840e+07,4.276415e+08,0.012481,0.000,Sub-Saharan Africa,Lower middle income
7539,Nigeria,NGA,1983,1.380434e+07,4.086085e+08,0.014217,0.000,Sub-Saharan Africa,Lower middle income
7540,Nigeria,NGA,1984,1.174126e+07,3.326691e+08,0.015978,0.000,Sub-Saharan Africa,Lower middle income
7541,Nigeria,NGA,1985,1.006966e+07,2.976143e+08,0.013655,0.000,Sub-Saharan Africa,Lower middle income
7542,Nigeria,NGA,1986,3.989688e+06,1.498983e+08,0.007280,0.000,Sub-Saharan Africa,Lower middle income
7543,Nigeria,NGA,1987,2.739018e+06,2.166315e+07,0.005200,0.000,Sub-Saharan Africa,Lower middle income
7544,Nigeria,NGA,1988,2.424527e+06,3.702914e+07,0.004883,0.000,Sub-Saharan Africa,Lower middle income
7545,Nigeria,NGA,1989,1.018367e+07,2.878583e+07,0.023143,0.000,Sub-Saharan Africa,Lower middle income
7546,Nigeria,NGA,1990,1.000854e+07,8.853592e+06,0.018522,0.000,Sub-Saharan Africa,Lower middle income
7547,Nigeria,NGA,1991,6.554471e+07,5.351068e+07,0.133442,3.978,Sub-Saharan Africa,Lower middle income
7548,Nigeria,NGA,1992,5.644840e+07,3.480254e+07,0.118105,3.931,Sub-Saharan Africa,Lower middle income
7549,Nigeria,NGA,1993,7.931540e+08,2.310584e+06,2.857986,3.982,Sub-Saharan Africa,Lower middle income
7550,Nigeria,NGA,1994,5.498727e+08,3.500636e+06,1.625253,3.970,Sub-Saharan Africa,Lower middle income
7551,Nigeria,NGA,1995,2.500430e+08,1.463817e+06,0.567474,3.945,Sub-Saharan Africa,Lower middle income
7552,Nigeria,NGA,1996,2.965873e+08,5.473002e+05,0.580681,3.898,Sub-Saharan Africa,Lower middle income
7553,Nigeria,NGA,1997,5.857384e+08,1.164845e+06,1.075582,3.900,Sub-Saharan Africa,Lower middle income
7554,Nigeria,NGA,1998,4.485468e+08,1.328093e+06,0.821453,3.893,Sub-Saharan Africa,Lower middle income
7555,Nigeria,NGA,1999,1.301056e+09,9.400237e+06,2.191337,3.901,Sub-Saharan Africa,Lower middle income
7556,Nigeria,NGA,2000,1.391826e+09,1.052142e+06,2.004099,3.852,Sub-Saharan Africa,Lower middle income
7557,Nigeria,NGA,2001,1.166615e+09,5.933584e+05,1.575855,3.838,Sub-Saharan Africa,Lower middle income
7558,Nigeria,NGA,2002,1.208959e+09,9.039780e+05,1.271864,3.751,Sub-Saharan Africa,Lower middle income
7559,Nigeria,NGA,2003,1.062821e+09,1.156224e+07,1.014733,3.812,Sub-Saharan Africa,Lower middle income
7560,Nigeria,NGA,2004,2.272735e+09,2.085560e+07,1.674024,3.789,Sub-Saharan Africa,Lower middle income
7561,Nigeria,NGA,2005,1.464008e+10,6.803027e+07,8.333830,3.807,Sub-Saharan Africa,Lower middle income
7562,Nigeria,NGA,2006,1.693214e+10,1.015608e+08,7.100773,3.803,Sub-Saharan Africa,Lower middle income
7563,Nigeria,NGA,2007,1.801443e+10,5.400630e+07,6.473937,3.791,Sub-Saharan Africa,Lower middle income
7564,Nigeria,NGA,2008,1.919997e+10,5.814876e+07,5.655764,3.782,Sub-Saharan Africa,Lower middle income
7565,Nigeria,NGA,2009,1.837080e+10,4.703579e+07,6.227204,3.763,Sub-Saharan Africa,Lower middle income
7566,Nigeria,NGA,2010,1.974476e+10,4.747469e+07,5.380181,3.755,Sub-Saharan Africa,Lower middle income
7567,Nigeria,NGA,2011,2.061677e+10,7.550616e+07,4.974291,3.770,Sub-Saharan Africa,Lower middle income
7568,Nigeria,NGA,2012,2.054288e+10,3.870239e+07,4.427623,3.750,Sub-Saharan Africa,Lower middle income
7569,Nigeria,NGA,2013,2.079707e+10,5.048264e+07,3.998536,3.700,Sub-Saharan Africa,Lower middle income
7570,Nigeria,NGA,2014,2.099908e+10,5.461572e+07,3.657206,3.944,Sub-Saharan Africa,Lower middle income
7571,Nigeria,NGA,2015,2.062605e+10,1.035451e+09,4.183555,4.221,Sub-Saharan Africa,Lower middle income
7572,Nigeria,NGA,2016,1.969794e+10,7.447711e+08,4.867907,4.509,Sub-Saharan Africa,Lower middle income
7573,Nigeria,NGA,2017,2.203702e+10,2.753458e+08,5.864875,4.729,Sub-Saharan Africa,Lower middle income
7574,Nigeria,NGA,2018,2.431102e+10,6.767628e+07,5.764468,4.963,Sub-Saharan Africa,Lower middle income
7575,Nigeria,NGA,2019,2.380928e+10,9.060008e+07,5.017577,5.206,Sub-Saharan Africa,Lower middle income
7576,Nigeria,NGA,2020,1.720755e+10,9.210166e+07,3.981395,5.999,Sub-Saharan Africa,Lower middle income
7577,Nigeria,NGA,2021,1.948340e+10,8.254529e+07,4.419673,5.936,Sub-Saharan Africa,Lower middle income
7578,Nigeria,NGA,2022,2.012761e+10,8.242428e+07,4.216213,5.761,Sub-Saharan Africa,Lower middle income

In [52]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16758 entries, 2 to 16757
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_name              16758 non-null  object
 1   country_code              16758 non-null  object
 2   Year                      16758 non-null  object
 3   remittance_received       9497 non-null   float64
 4   remittance_paid           9066 non-null   float64
 5   gdp                       8831 non-null   float64
 6   unemployment_rate         7512 non-null   float64
 7   population                16665 non-null  float64
 8   remittance_growth_rate    9302 non-null   float64
 9   remittance_to_gdp_ratio   8613 non-null   float64
 10  remittance_per_capita     9497 non-null   float64
 11  remittance_volatility     15498 non-null  float64
 12  unemployment_rate_change  7277 non-null   float64
dtypes: float64(10), object(3)
memory usage: 1.8+ MB

In [58]:
merged_df['Year'] = merged_df['Year'].astype(np.int64)

In [59]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16758 entries, 2 to 16757
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_name              16758 non-null  object
 1   country_code              16758 non-null  object
 2   Year                      16758 non-null  int64
 3   remittance_received       9497 non-null   float64
 4   remittance_paid           9066 non-null   float64
 5   gdp                       8831 non-null   float64
 6   unemployment_rate         7512 non-null   float64
 7   population                16665 non-null  float64
 8   remittance_growth_rate    9302 non-null   float64
 9   remittance_to_gdp_ratio   8613 non-null   float64
 10  remittance_per_capita     9497 non-null   float64
 11  remittance_volatility     15498 non-null  float64
 12  unemployment_rate_change  7277 non-null   float64
dtypes: float64(10), int64(1), object(2)
memory usage: 1.8+ MB

In [60]:
merged_with_info_df = pd.merge(merged_df, new_df[['country_name', 'Year', 'Region', 'IncomeGroup']], on=['country_name', 'Year'], how='left')

In [61]:
merged_with_info_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,unemployment_rate_change,Region,IncomeGroup
0,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
1,Afghanistan,AFG,1961,NaN,NaN,NaN,NaN,8790140.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
2,Afghanistan,AFG,1962,NaN,NaN,NaN,NaN,8969047.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
3,Afghanistan,AFG,1963,NaN,NaN,NaN,NaN,9157465.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
4,Afghanistan,AFG,1964,NaN,NaN,NaN,NaN,9355514.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN

In [62]:
merged_with_info_df[merged_with_info_df['country_name'] == 'Nigeria']

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,unemployment_rate_change,Region,IncomeGroup
11214,Nigeria,NGA,1960,NaN,NaN,NaN,NaN,44928342.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11215,Nigeria,NGA,1961,NaN,NaN,NaN,NaN,45855507.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11216,Nigeria,NGA,1962,NaN,NaN,NaN,NaN,46821845.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11217,Nigeria,NGA,1963,NaN,NaN,NaN,NaN,47822569.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11218,Nigeria,NGA,1964,NaN,NaN,NaN,NaN,48856332.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11272,Nigeria,NGA,2018,2.431102e+10,67676279.79,5.764468,4.963,198387623.0,10.319026,4.217392e+09,122.543040,9.704616e+09,0.234,Sub-Saharan Africa,Lower middle income
11273,Nigeria,NGA,2019,2.380928e+10,90600080.53,5.017577,5.206,203304492.0,-2.063842,4.745175e+09,117.111438,9.704616e+09,0.243,Sub-Saharan Africa,Lower middle income
11274,Nigeria,NGA,2020,1.720755e+10,92101664.91,3.981395,5.999,208327405.0,-27.727565,4.321989e+09,82.598577,9.704616e+09,0.793,Sub-Saharan Africa,Lower middle income
11275,Nigeria,NGA,2021,1.948340e+10,82545294.22,4.419673,5.936,213401323.0,13.225910,4.408336e+09,91.299350,9.704616e+09,-0.063,Sub-Saharan Africa,Lower middle income
11276,Nigeria,NGA,2022,2.012761e+10,82424279.49,4.216213,5.761,218541212.0,3.306466,4.773861e+09,92.099856,9.704616e+09,-0.175,Sub-Saharan Africa,Lower middle income

In [64]:

# Merge based on 'country_name' and 'Year' columns
merged_info_df = pd.merge(merged_df, new_df[['country_name', 'Year', 'Region', 'IncomeGroup']], on=['country_name', 'Year'], how='left')

# Define a function to get region and income group based on the merged DataFrame row
def get_region_income(row):
    return row['Region'], row['IncomeGroup']

# Apply the function to each row to create the new column
merged_info_df[['new_region', 'new_income_group']] = merged_info_df.apply(get_region_income, axis=1, result_type='expand')

In [65]:
merged_info_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,unemployment_rate_change,Region,IncomeGroup,new_region,new_income_group
0,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1961,NaN,NaN,NaN,NaN,8790140.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1962,NaN,NaN,NaN,NaN,8969047.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1963,NaN,NaN,NaN,NaN,9157465.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1964,NaN,NaN,NaN,NaN,9355514.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN

In [66]:
def update_merged_with(row):
    country = row['country_name']
    year = row['Year']
    
    matching_row = new_df[(new_df['country_name'] == country) & (new_df['Year'] == year)]
    
    if not matching_row.empty:
        row['new_region'] = matching_row['Region'].iloc[0]
        row['new_income_group'] = matching_row['IncomeGroup'].iloc[0]
    
    return row

# Apply the function to each row in merged_df
merged_with_df = merged_df.apply(update_merged_with, axis=1)

In [68]:
merged_with_df.head()

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
2,1960,AFG,Afghanistan,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
268,1961,AFG,Afghanistan,NaN,NaN,NaN,8790140.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
534,1962,AFG,Afghanistan,NaN,NaN,NaN,8969047.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
800,1963,AFG,Afghanistan,NaN,NaN,NaN,9157465.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
1066,1964,AFG,Afghanistan,NaN,NaN,NaN,9355514.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN

In [69]:
merged_with_df[merged_with_df['country_name'] == 'Nigeria']

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
174,1960,NGA,Nigeria,NaN,NaN,NaN,44928342.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
440,1961,NGA,Nigeria,NaN,NaN,NaN,45855507.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
706,1962,NGA,Nigeria,NaN,NaN,NaN,46821845.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
972,1963,NGA,Nigeria,NaN,NaN,NaN,47822569.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
1238,1964,NGA,Nigeria,NaN,NaN,NaN,48856332.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15602,2018,NGA,Nigeria,5.764468,Lower middle income,Sub-Saharan Africa,198387623.0,10.319026,67676279.79,122.543040,2.431102e+10,4.217392e+09,9.704616e+09,4.963,0.234
15868,2019,NGA,Nigeria,5.017577,Lower middle income,Sub-Saharan Africa,203304492.0,-2.063842,90600080.53,117.111438,2.380928e+10,4.745175e+09,9.704616e+09,5.206,0.243
16134,2020,NGA,Nigeria,3.981395,Lower middle income,Sub-Saharan Africa,208327405.0,-27.727565,92101664.91,82.598577,1.720755e+10,4.321989e+09,9.704616e+09,5.999,0.793
16400,2021,NGA,Nigeria,4.419673,Lower middle income,Sub-Saharan Africa,213401323.0,13.225910,82545294.22,91.299350,1.948340e+10,4.408336e+09,9.704616e+09,5.936,-0.063
16666,2022,NGA,Nigeria,4.216213,Lower middle income,Sub-Saharan Africa,218541212.0,3.306466,82424279.49,92.099856,2.012761e+10,4.773861e+09,9.704616e+09,5.761,-0.175

In [73]:
merged_with_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16758 entries, 2 to 16757
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      16758 non-null  int64
 1   country_code              16758 non-null  object
 2   country_name              16758 non-null  object
 3   gdp                       8831 non-null   float64
 4   new_income_group          11501 non-null  object
 5   new_region                11501 non-null  object
 6   population                16665 non-null  float64
 7   remittance_growth_rate    9302 non-null   float64
 8   remittance_paid           9066 non-null   float64
 9   remittance_per_capita     9497 non-null   float64
 10  remittance_received       9497 non-null   float64
 11  remittance_to_gdp_ratio   8613 non-null   float64
 12  remittance_volatility     15498 non-null  float64
 13  unemployment_rate         7512 non-null   float64
 14  unemployment_rate_change  7277 non-null   float64
dtypes: float64(10), int64(1), object(4)
memory usage: 2.0+ MB

In [74]:
# Delete null values between 1960 and 1969
years_to_delete = range(1960, 1970)
merged_with_df = merged_with_df[~(merged_with_df['Year'].isin(years_to_delete))]

# Fill null values after 1969 with zeroes
years_after_1969 = range(1970, 2023)
columns_to_fill = merged_with_df.columns.difference(['Year', 'country_code', 'country_name'])  # Exclude non-numeric columns
merged_with_df.loc[merged_with_df['Year'].isin(years_after_1969), columns_to_fill] = merged_with_df.loc[merged_with_df['Year'].isin(years_after_1969), columns_to_fill].fillna(0)

# Reset the index
merged_with_df.reset_index(drop=True, inplace=True)

In [76]:
merged_with_df.head()

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
0,1970,AFG,Afghanistan,0.0,Low income,South Asia,10752971.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
1,1971,AFG,Afghanistan,0.0,Low income,South Asia,11015857.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
2,1972,AFG,Afghanistan,0.0,Low income,South Asia,11286753.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
3,1973,AFG,Afghanistan,0.0,Low income,South Asia,11575305.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
4,1974,AFG,Afghanistan,0.0,Low income,South Asia,11869879.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0

In [77]:
merged_with_df[merged_with_df['country_name'] == 'Botswana']

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
1484,1970,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,592244.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1485,1971,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,604139.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1486,1972,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,626601.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1487,1973,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,657246.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1488,1974,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,691569.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1489,1975,BWA,Botswana,12.145441,Upper middle income,Sub-Saharan Africa,727930.0,0.000000,3.921528e+06,59.259553,4.313681e+07,3.551687e+06,2.441387e+07,0.000,0.000
1490,1976,BWA,Botswana,16.506955,Upper middle income,Sub-Saharan Africa,766424.0,42.361060,3.680001e+07,80.125381,6.141002e+07,3.720251e+06,2.441387e+07,0.000,0.000
1491,1977,BWA,Botswana,15.253123,Upper middle income,Sub-Saharan Africa,806968.0,12.175366,4.061952e+07,85.365107,6.888691e+07,4.516250e+06,2.441387e+07,0.000,0.000
1492,1978,BWA,Botswana,9.735147,Upper middle income,Sub-Saharan Africa,849394.0,-16.563213,3.429301e+07,67.668272,5.747702e+07,5.904074e+06,2.441387e+07,0.000,0.000
1493,1979,BWA,Botswana,7.108650,Upper middle income,Sub-Saharan Africa,893500.0,1.400049,1.680968e+07,65.228574,5.828173e+07,8.198706e+06,2.441387e+07,0.000,0.000
1494,1980,BWA,Botswana,7.288824,Upper middle income,Sub-Saharan Africa,938578.0,32.676886,2.586124e+07,82.386744,7.732639e+07,1.060890e+07,2.441387e+07,0.000,0.000
1495,1981,BWA,Botswana,6.944908,Upper middle income,Sub-Saharan Africa,982747.0,-3.557775,2.904134e+07,75.884523,7.457529e+07,1.073812e+07,2.441387e+07,0.000,0.000
1496,1982,BWA,Botswana,5.559542,Upper middle income,Sub-Saharan Africa,1023009.0,-24.336401,2.554239e+07,55.157233,5.642635e+07,1.014946e+07,2.441387e+07,0.000,0.000
1497,1983,BWA,Botswana,4.767275,Upper middle income,Sub-Saharan Africa,1060717.0,-0.962133,2.260864e+07,52.684599,5.588345e+07,1.172231e+07,2.441387e+07,0.000,0.000
1498,1984,BWA,Botswana,4.028429,Upper middle income,Sub-Saharan Africa,1099170.0,-10.553799,2.403007e+07,45.475788,4.998562e+07,1.240822e+07,2.441387e+07,0.000,0.000
1499,1985,BWA,Botswana,2.805347,Upper middle income,Sub-Saharan Africa,1138704.0,-37.434924,1.566305e+07,27.464154,3.127354e+07,1.114784e+07,2.441387e+07,0.000,0.000
1500,1986,BWA,Botswana,2.674921,Upper middle income,Sub-Saharan Africa,1179263.0,19.113463,2.203131e+07,31.588373,3.725100e+07,1.392602e+07,2.441387e+07,0.000,0.000
1501,1987,BWA,Botswana,2.764055,Upper middle income,Sub-Saharan Africa,1220361.0,45.821488,1.131666e+06,44.511388,5.431996e+07,1.965227e+07,2.441387e+07,0.000,0.000
1502,1988,BWA,Botswana,2.067910,Upper middle income,Sub-Saharan Africa,1261272.0,0.675733,1.878026e+07,43.358625,5.468702e+07,2.644555e+07,2.441387e+07,0.000,0.000
1503,1989,BWA,Botswana,1.601339,Upper middle income,Sub-Saharan Africa,1301671.0,-9.699869,3.642886e+07,37.937735,4.938245e+07,3.083822e+07,2.441387e+07,0.000,0.000
1504,1990,BWA,Botswana,2.257404,Upper middle income,Sub-Saharan Africa,1341474.0,73.280121,1.179812e+08,63.788019,8.556997e+07,3.790637e+07,2.441387e+07,0.000,0.000
1505,1991,BWA,Botswana,2.117743,Upper middle income,Sub-Saharan Africa,1380584.0,-2.419028,1.179289e+08,60.481657,8.350001e+07,3.942877e+07,2.441387e+07,13.820,0.000
1506,1992,BWA,Botswana,2.266830,Upper middle income,Sub-Saharan Africa,1420695.0,12.566809,1.392125e+08,66.160079,9.399329e+07,4.146465e+07,2.441387e+07,16.325,2.505
1507,1993,BWA,Botswana,1.785660,Upper middle income,Sub-Saharan Africa,1462262.0,-20.966942,1.314445e+08,50.801959,7.428577e+07,4.160129e+07,2.441387e+07,18.785,2.460
1508,1994,BWA,Botswana,1.640635,Upper middle income,Sub-Saharan Africa,1503544.0,-5.932359,1.453078e+08,46.476110,6.987888e+07,4.259259e+07,2.441387e+07,21.200,2.415
1509,1995,BWA,Botswana,1.169724,Upper middle income,Sub-Saharan Africa,1543634.0,-20.813008,1.989390e+08,35.847215,5.533498e+07,4.730600e+07,2.441387e+07,21.350,0.150
1510,1996,BWA,Botswana,0.892342,Upper middle income,Sub-Saharan Africa,1582169.0,-21.824184,8.636673e+07,27.341309,4.325857e+07,4.847758e+07,2.441387e+07,21.590,0.240
1511,1997,BWA,Botswana,0.815215,Upper middle income,Sub-Saharan Africa,1619354.0,-5.392250,1.190162e+08,25.273017,4.092596e+07,5.020265e+07,2.441387e+07,21.126,-0.464
1512,1998,BWA,Botswana,0.756832,Upper middle income,Sub-Saharan Africa,1655699.0,-11.411048,1.177277e+08,21.897628,3.625588e+07,4.790482e+07,2.441387e+07,20.860,-0.266
1513,1999,BWA,Botswana,0.480652,Upper middle income,Sub-Saharan Africa,1691558.0,-27.293991,1.222646e+08,15.583387,2.636020e+07,5.484263e+07,2.441387e+07,18.229,-2.631
1514,2000,BWA,Botswana,0.320315,Upper middle income,Sub-Saharan Africa,1726985.0,-29.663438,1.339411e+08,10.735971,1.854086e+07,5.788330e+07,2.441387e+07,15.880,-2.349
1515,2001,BWA,Botswana,0.326210,Upper middle income,Sub-Saharan Africa,1761930.0,-3.415258,1.290916e+08,10.163652,1.790764e+07,5.489608e+07,2.441387e+07,18.540,2.660
1516,2002,BWA,Botswana,0.350688,Upper middle income,Sub-Saharan Africa,1795130.0,6.509929,1.296163e+08,10.625090,1.907342e+07,5.438864e+07,2.441387e+07,21.105,2.565
1517,2003,BWA,Botswana,0.363563,Upper middle income,Sub-Saharan Africa,1826863.0,43.180052,1.855890e+08,14.948756,2.730933e+07,7.511582e+07,2.441387e+07,23.800,2.695
1518,2004,BWA,Botswana,0.878110,Upper middle income,Sub-Saharan Africa,1859085.0,188.020315,9.920040e+07,42.309209,7.865642e+07,8.957468e+07,2.441387e+07,21.852,-1.948
1519,2005,BWA,Botswana,1.187071,Upper middle income,Sub-Saharan Africa,1892807.0,49.694725,1.070329e+08,62.206292,1.177445e+08,9.918907e+07,2.441387e+07,19.829,-2.023
1520,2006,BWA,Botswana,1.047055,Upper middle income,Sub-Saharan Africa,1928704.0,-11.792906,9.741008e+07,53.849117,1.038590e+08,9.919158e+07,2.441387e+07,17.780,-2.049
1521,2007,BWA,Botswana,0.872425,Upper middle income,Sub-Saharan Africa,1966977.0,-11.233969,9.864607e+07,46.869647,9.219152e+07,1.056727e+08,2.441387e+07,17.172,-0.608
1522,2008,BWA,Botswana,0.436343,Upper middle income,Sub-Saharan Africa,2007320.0,-49.210950,5.756157e+07,23.326224,4.682320e+07,1.073083e+08,2.441387e+07,16.590,-0.582
1523,2009,BWA,Botswana,0.150310,Upper middle income,Sub-Saharan Africa,2048997.0,-67.518174,5.950369e+07,7.422670,1.520903e+07,1.011846e+08,2.441387e+07,16.170,-0.420
1524,2010,BWA,Botswana,0.176630,Upper middle income,Sub-Saharan Africa,2091664.0,46.763338,9.975446e+07,10.671541,2.232128e+07,1.263727e+08,2.441387e+07,17.860,1.690
1525,2011,BWA,Botswana,0.135070,Upper middle income,Sub-Saharan Africa,2134037.0,-8.563132,1.223115e+08,9.563976,2.040988e+07,1.511064e+08,2.441387e+07,18.152,0.292
1526,2012,BWA,Botswana,0.130169,Upper middle income,Sub-Saharan Africa,2175425.0,-11.302049,1.241305e+08,8.321658,1.810314e+07,1.390746e+08,2.441387e+07,18.416,0.264
1527,2013,BWA,Botswana,0.252277,Upper middle income,Sub-Saharan Africa,2217278.0,98.884437,9.748926e+07,16.238079,3.600434e+07,1.427174e+08,2.441387e+07,18.538,0.122
1528,2014,BWA,Botswana,0.298144,Upper middle income,Sub-Saharan Africa,2260376.0,28.104346,1.053969e+08,20.405065,4.612312e+07,1.547009e+08,2.441387e+07,18.894,0.356
1529,2015,BWA,Botswana,0.222054,Upper middle income,Sub-Saharan Africa,2305171.0,-34.857789,9.474211e+07,13.034009,3.004562e+07,1.353075e+08,2.441387e+07,19.299,0.405
1530,2016,BWA,Botswana,0.163251,Upper middle income,Sub-Saharan Africa,2352416.0,-18.049612,8.044798e+07,10.466899,2.462250e+07,1.508264e+08,2.441387e+07,19.315,0.016
1531,2017,BWA,Botswana,0.241889,Upper middle income,Sub-Saharan Africa,2401840.0,58.215286,8.124653e+07,16.219466,3.895656e+07,1.610516e+08,2.441387e+07,19.603,0.288
1532,2018,BWA,Botswana,0.260158,Upper middle income,Sub-Saharan Africa,2451409.0,13.741808,6.343891e+07,18.075277,4.430990e+07,1.703194e+08,2.441387e+07,19.838,0.235
1533,2019,BWA,Botswana,0.354899,Upper middle income,Sub-Saharan Africa,2499702.0,33.965790,9.940376e+07,23.746872,5.936010e+07,1.672591e+08,2.441387e+07,20.090,0.252
1534,2020,BWA,Botswana,0.238070,Upper middle income,Sub-Saharan Africa,2546402.0,-40.000260,1.636030e+08,13.986758,3.561591e+07,1.496029e+08,2.441387e+07,21.020,0.930
1535,2021,BWA,Botswana,0.307568,Upper middle income,Sub-Saharan Africa,2588423.0,61.807424,2.366466e+08,22.264206,5.762918e+07,1.873707e+08,2.441387e+07,21.155,0.135
1536,2022,BWA,Botswana,0.273247,Upper middle income,Sub-Saharan Africa,2630296.0,-3.500000,0.000000e+00,21.142929,5.561216e+07,2.035232e+08,2.441387e+07,20.684,-0.471

In [78]:
# Save the merged DataFrame to a CSV file
merged_with_df.to_csv('merged_with_data.csv', index=False)