In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the csv file into a dataframe
remitreceieved_df = pd.read_csv(r"C:\Users\chine\Downloads\Data Gathering And Preparation\Remitance Recieved.csv",skiprows=[0,1,2,3])

remitpaid_df = pd.read_csv(r"C:\Users\chine\Downloads\Data Gathering And Preparation\Remttance paid.csv",skiprows=[0,1,2,3])

remitgdp_df = pd.read_csv(r"C:\Users\chine\Downloads\ddgo\gdp.csv",skiprows=[0,1,2,3])

unemploymentilo_df = pd.read_csv(r"C:\Users\chine\Downloads\Data Gathering And Preparation\Unemployment, total (% of total labor force).csv",skiprows=[0,1,2,3])

migration_df = pd.read_csv(r"C:\Users\chine\Downloads\Migration\Migration.csv",skiprows=[0,1,2,3])

population_df = pd.read_csv(r"C:\Users\chine\Downloads\Data Gathering And Preparation\Population.csv",skiprows=[0,1,2,3])

In [3]:
remitreceieved_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Personal remittances, received (current US$)",BX.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.498404e+07,3.584564e+07,3.820385e+07,NaN
1,Africa Eastern and Southern,AFE,"Personal remittances, received (current US$)",BX.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,1.060859e+10,1.099148e+10,1.017869e+10,1.067768e+10,1.484476e+10,1.439873e+10,1.376489e+10,1.627555e+10,1.860932e+10,NaN
2,Afghanistan,AFG,"Personal remittances, received (current US$)",BX.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08,3.000000e+08,3.500000e+08,NaN
3,Africa Western and Central,AFW,"Personal remittances, received (current US$)",BX.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.907258e+10,3.121737e+10,2.838544e+10,3.159726e+10,3.455966e+10,3.258625e+10,2.920655e+10,3.214877e+10,3.317108e+10,NaN
4,Angola,AGO,"Personal remittances, received (current US$)",BX.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06,1.263115e+07,1.400549e+07,NaN

In [4]:
remitpaid_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Personal remittances, paid (current US$)",BM.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,7.022269e+07,7.497801e+07,9.805250e+07,1.080455e+08,1.116510e+08,1.126276e+08,1.017626e+08,1.113316e+08,1.082545e+08,NaN
1,Africa Eastern and Southern,AFE,"Personal remittances, paid (current US$)",BM.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,6.397281e+09,5.086995e+09,4.369787e+09,4.632237e+09,5.063078e+09,4.852355e+09,4.959235e+09,4.953944e+09,2.981383e+09,NaN
2,Afghanistan,AFG,"Personal remittances, paid (current US$)",BM.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,5.241635e+08,2.289918e+08,1.678945e+08,1.439791e+08,2.346187e+08,2.172923e+08,2.254206e+08,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Personal remittances, paid (current US$)",BM.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.963446e+09,6.049161e+09,4.979108e+09,3.922327e+09,3.928024e+09,3.078476e+09,3.103854e+09,2.905960e+09,1.122626e+08,NaN
4,Angola,AGO,"Personal remittances, paid (current US$)",BM.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.746616e+09,1.252909e+09,1.176110e+09,9.614153e+08,6.816270e+08,5.490820e+08,5.764714e+08,4.454001e+08,5.176682e+08,NaN

In [5]:
remitgdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.996000e+09,5.304000e+09,5.341000e+09,5.535000e+09,5.864376e+09,6.078471e+09,4.671970e+09,5.595575e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,GDP (current LCU),NY.GDP.MKTP.CN,2.420000e+10,2.470000e+10,2.460000e+10,3.380000e+10,3.600000e+10,4.530000e+10,...,1.176469e+12,1.222756e+12,1.222917e+12,1.285460e+12,1.327690e+12,1.469596e+12,1.547289e+12,1.232858e+12,NaN,NaN
3,Africa Western and Central,AFW,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.432386e+13,1.395029e+13,1.654956e+13,2.026230e+13,2.562774e+13,3.033043e+13,3.170077e+13,4.453765e+13,5.337515e+13,NaN

In [6]:
unemploymentilo_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.555646,6.707142,6.855589,6.940365,6.913046,7.121663,7.631304,7.920219,7.916835,NaN
2,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000,11.710000,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414,4.914143,4.873635,4.742175,NaN
4,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000,10.350000,10.384000,10.209000,NaN

In [7]:
migration_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,Net migration,SM.POP.NETM,0.0,-569.0,-609.0,-646.0,-684.0,-726.0,...,88.0,177.0,170.0,218.0,367.0,412.0,0.0,501.0,NaN,NaN
1,Africa Eastern and Southern,AFE,Net migration,SM.POP.NETM,-90849.0,-1348.0,-24259.0,-16266.0,37452.0,11041.0,...,-199608.0,394925.0,-864708.0,-343075.0,-366105.0,-187410.0,-48955.0,-179444.0,NaN,NaN
2,Afghanistan,AFG,Net migration,SM.POP.NETM,2606.0,6109.0,7016.0,6681.0,7079.0,10695.0,...,255611.0,-281739.0,-90238.0,-47090.0,-47205.0,-8082.0,166821.0,-183672.0,NaN,NaN
3,Africa Western and Central,AFW,Net migration,SM.POP.NETM,-847.0,-41547.0,-36399.0,-37435.0,-45534.0,-15985.0,...,-280418.0,-360393.0,-167286.0,-200823.0,-255888.0,-328552.0,-99761.0,-264802.0,NaN,NaN
4,Angola,AGO,Net migration,SM.POP.NETM,-43749.0,-49186.0,-54566.0,-59777.0,-71948.0,-87288.0,...,84532.0,74170.0,91623.0,77733.0,61632.0,58986.0,7557.0,29089.0,NaN,NaN

In [8]:
population_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN

In [9]:
# Rename columns
remitreceieved_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
remitpaid_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
remitgdp_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
migration_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
unemploymentilo_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)
# Rename columns
population_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'country_code'}, inplace=True)

In [12]:
population_df.head()

,country_name,country_code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN

In [13]:
# delete Indicator Name and Indicator code column
remitreceieved_df=remitreceieved_df.drop(columns = ['Indicator Code'])
remitpaid_df=remitpaid_df.drop(columns = ['Indicator Code'])
remitgdp_df=remitgdp_df.drop(columns = ['Indicator Code'])
unemploymentilo_df=unemploymentilo_df.drop(columns = ['Indicator Code'])
population_df=population_df.drop(columns = ['Indicator Code'])
migration_df=migration_df.drop(columns = ['Indicator Code'])

remitreceieved_df=remitreceieved_df.drop(columns = ['Indicator Name'])
remitpaid_df=remitpaid_df.drop(columns = ['Indicator Name'])
migration_df=migration_df.drop(columns = ['Indicator Name'])
remitgdp_df=remitgdp_df.drop(columns = ['Indicator Name'])
unemploymentilo_df=unemploymentilo_df.drop(columns = ['Indicator Name'])
population_df=population_df.drop(columns =  ['Indicator Name'])

In [14]:
# Rearranging the dataset
def rearrange_datasets(remitreceieved_df, remitpaid_df, remitgdp_df, unemploymentilo_df, population_df,migration_df):
    
    # Rearrange remitreceieved_df
    remitreceieved_rearranged = pd.melt(remitreceieved_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='remittance_received')

    # Rearrange remitpaid_df
    remitpaid_rearranged = pd.melt(remitpaid_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='remittance_paid')

    # Rearrange remitgdp_df
    remitgdp_rearranged = pd.melt(remitgdp_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='gdp')

    # Rearrange unemploymentilo_df
    unemploymentilo_rearranged = pd.melt(unemploymentilo_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='unemployment_rate')
    
     # Rearrange population_df
    population_rearranged = pd.melt(population_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='population')
    
    
     # Rearrange migration
    migration_rearranged = pd.melt(migration_df, id_vars=['country_name', 'country_code'], var_name='Year', value_name='net_migration')
    
    return remitreceieved_rearranged, remitpaid_rearranged, remitgdp_rearranged, unemploymentilo_rearranged, population_rearranged, migration_rearranged


# Call the function to rearrange the DataFrames
remit_received_rearranged, remit_paid_rearranged, remit_gdp_rearranged, unemployment_rearranged,population_rearranged,migration_rearranged = rearrange_datasets(remitreceieved_df, remitpaid_df, remitgdp_df, unemploymentilo_df, population_df, migration_df)

In [15]:
remit_received_rearranged.head()

                  country_name country_code  Year  remittance_received
0                        Aruba          ABW  1960                  NaN
1  Africa Eastern and Southern          AFE  1960                  NaN
2                  Afghanistan          AFG  1960                  NaN
3   Africa Western and Central          AFW  1960                  NaN
4                       Angola          AGO  1960                  NaN

In [16]:
remit_paid_rearranged.head()

                  country_name country_code  Year  remittance_paid
0                        Aruba          ABW  1960              NaN
1  Africa Eastern and Southern          AFE  1960              NaN
2                  Afghanistan          AFG  1960              NaN
3   Africa Western and Central          AFW  1960              NaN
4                       Angola          AGO  1960              NaN

In [17]:
remit_gdp_rearranged.head()

                  country_name country_code  Year           gdp
0                        Aruba          ABW  1960           NaN
1  Africa Eastern and Southern          AFE  1960           NaN
2                  Afghanistan          AFG  1960  2.420000e+10
3   Africa Western and Central          AFW  1960           NaN
4                       Angola          AGO  1960           NaN

In [18]:
unemployment_rearranged.head()

                  country_name country_code  Year  unemployment_rate
0                        Aruba          ABW  1960                NaN
1  Africa Eastern and Southern          AFE  1960                NaN
2                  Afghanistan          AFG  1960                NaN
3   Africa Western and Central          AFW  1960                NaN
4                       Angola          AGO  1960                NaN

In [19]:
population_rearranged.head()

                  country_name country_code  Year   population
0                        Aruba          ABW  1960      54608.0
1  Africa Eastern and Southern          AFE  1960  130692579.0
2                  Afghanistan          AFG  1960    8622466.0
3   Africa Western and Central          AFW  1960   97256290.0
4                       Angola          AGO  1960    5357195.0

In [20]:
migration_rearranged.head()

                  country_name country_code  Year  net_migration
0                        Aruba          ABW  1960            0.0
1  Africa Eastern and Southern          AFE  1960       -90849.0
2                  Afghanistan          AFG  1960         2606.0
3   Africa Western and Central          AFW  1960         -847.0
4                       Angola          AGO  1960       -43749.0

In [21]:
# Merge remit_received_rearranged and remit_paid_rearranged on 'country_name', 'country_code', and 'Year'

merged_df = remit_received_rearranged.merge(remit_paid_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

# Merge merged_df and remit_gdp_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = merged_df.merge(remit_gdp_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

# Merge merged_df and unemployment_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = merged_df.merge(unemployment_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

# Merge merged_df and population_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = merged_df.merge(population_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

# Merge merged_df and population_rearranged on 'country_name', 'country_code', and 'Year'
merged_df = merged_df.merge(migration_rearranged, on=['country_name', 'country_code', 'Year'], how='outer')

In [22]:
merged_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,net_migration
0,Aruba,ABW,1960,NaN,NaN,NaN,NaN,54608.0,0.0
1,Africa Eastern and Southern,AFE,1960,NaN,NaN,NaN,NaN,130692579.0,-90849.0
2,Afghanistan,AFG,1960,NaN,NaN,2.420000e+10,NaN,8622466.0,2606.0
3,Africa Western and Central,AFW,1960,NaN,NaN,NaN,NaN,97256290.0,-847.0
4,Angola,AGO,1960,NaN,NaN,NaN,NaN,5357195.0,-43749.0

In [23]:
merged_df.sample(50)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,net_migration
3006,Gabon,GAB,1971,NaN,NaN,1.051000e+11,NaN,609693.0,1138.0
13884,Cayman Islands,CYM,2012,0.000000e+00,NaN,3.575823e+09,NaN,56860.0,897.0
15946,Uzbekistan,UZB,2019,8.546154e+09,2.747220e+08,5.327125e+14,5.861000,33580350.0,-69397.0
4464,Singapore,SGP,1976,NaN,NaN,1.500340e+10,NaN,2293300.0,433.0
7759,Colombia,COL,1989,4.670000e+08,1.700000e+07,1.512672e+13,NaN,31923117.0,-27370.0
7544,"Hong Kong SAR, China",HKG,1988,NaN,NaN,4.660760e+11,NaN,5627600.0,39031.0
14114,Burundi,BDI,2013,4.863947e+07,6.978499e+06,3.812471e+12,1.576000,10149577.0,-2295.0
145,Latvia,LVA,1960,NaN,NaN,NaN,NaN,2120979.0,13775.0
7492,"Congo, Rep.",COG,1988,4.431787e+06,5.524962e+07,6.590000e+11,NaN,2253336.0,32.0
13848,Burundi,BDI,2012,4.643365e+07,5.235127e+06,3.365858e+12,1.589000,9795479.0,22613.0
14077,Tuvalu,TUV,2012,3.835898e+06,2.662844e+06,3.800000e+07,NaN,10854.0,8.0
10396,Bahrain,BHR,1999,NaN,8.561717e+08,2.489500e+09,1.126000,692133.0,6737.0
638,Indonesia,IDN,1962,NaN,NaN,1.335100e+12,NaN,93345489.0,53132.0
12232,"Yemen, Rep.",YEM,2005,1.282599e+09,1.094959e+08,3.207079e+12,12.210000,21320671.0,-51360.0
12306,Spain,ESP,2006,1.281555e+09,7.942332e+08,1.003823e+12,8.450000,44397319.0,658689.0
6951,Canada,CAN,1986,NaN,NaN,5.266300e+11,NaN,26100278.0,94389.0
11646,Singapore,SGP,2003,NaN,NaN,1.701179e+11,5.930000,4114826.0,19770.0
812,Austria,AUT,1963,NaN,NaN,1.582295e+10,NaN,7175811.0,4768.0
606,Fragile and conflict affected situations,FCS,1962,NaN,NaN,NaN,NaN,255628513.0,3201.0
6542,Mali,MLI,1984,3.249750e+07,1.167164e+07,5.387379e+11,NaN,8030099.0,-47454.0
13849,Belgium,BEL,2012,1.117145e+10,4.303018e+09,3.861747e+11,7.540000,11106932.0,56227.0
16480,"Venezuela, RB",VEN,2021,NaN,NaN,NaN,6.471000,28199867.0,-525116.0
11841,Liechtenstein,LIE,2004,NaN,NaN,4.295500e+09,NaN,34300.0,114.0
6295,Norway,NOR,1983,1.012343e+08,1.269139e+08,4.496570e+11,NaN,4128432.0,4041.0
14085,St. Vincent and the Grenadines,VCT,2012,3.110908e+07,6.164354e+06,1.971088e+09,18.893000,108083.0,-1569.0
498,Togo,TGO,1961,NaN,NaN,4.212658e+10,NaN,1678788.0,-14858.0
17016,Vanuatu,VUT,Unnamed: 67,NaN,NaN,NaN,NaN,NaN,NaN
12838,Spain,ESP,2008,1.840374e+09,7.488809e+08,1.109541e+12,11.250000,45954106.0,430778.0
13349,Caribbean small states,CSS,2010,2.826099e+09,5.718592e+08,NaN,8.279727,7004428.0,-30222.0
14947,Curacao,CUW,2016,1.484190e+08,1.273911e+08,5.396400e+09,NaN,159664.0,647.0
10981,Finland,FIN,2001,4.907180e+08,9.671085e+07,1.446280e+11,10.290000,5188008.0,6395.0
10022,New Zealand,NZL,1997,1.010340e+09,6.834388e+08,1.048150e+11,6.860000,3781300.0,11761.0
15868,Nigeria,NGA,2019,2.380928e+10,9.060008e+07,1.456391e+14,5.206000,203304492.0,-103989.0
3631,Niger,NER,1973,NaN,NaN,2.109390e+11,NaN,5059382.0,-2951.0
1333,Africa Western and Central,AFW,1965,NaN,NaN,NaN,NaN,108336203.0,-15985.0
8646,Latin America & Caribbean,LCN,1992,8.368428e+09,1.338992e+09,NaN,6.057489,458008075.0,-736813.0
3721,South Africa,ZAF,1973,1.587827e+07,4.238394e+08,2.308300e+10,NaN,24382513.0,41090.0
10945,Chile,CHL,2001,1.190000e+07,1.570000e+07,4.540905e+13,10.390000,15523978.0,6720.0
2203,Finland,FIN,1968,NaN,NaN,6.232452e+09,NaN,4626469.0,-15787.0
6994,Faroe Islands,FRO,1986,NaN,NaN,NaN,NaN,46011.0,24.0
6894,Turkiye,TUR,1985,1.714000e+09,NaN,3.509550e+07,NaN,49175673.0,8961.0
14929,Botswana,BWA,2016,2.462250e+07,8.044798e+07,1.644182e+11,19.315000,2352416.0,3129.0
13877,Colombia,COL,2012,4.018675e+09,2.462426e+08,6.665070e+14,9.740000,45782417.0,-55913.0
13375,Finland,FIN,2010,8.938152e+08,7.208324e+08,1.881430e+11,8.390000,5363352.0,14053.0
4964,Netherlands,NLD,1978,4.465573e+08,6.666130e+08,1.530230e+11,NaN,13941700.0,29717.0
14699,Eritrea,ERI,2015,0.000000e+00,NaN,NaN,5.797000,3340006.0,-53049.0
11664,Seychelles,SYC,2003,4.855111e+06,7.314538e+06,4.055113e+09,NaN,82781.0,263.0
5595,Argentina,ARG,1981,4.200000e+07,2.700000e+07,7.474300e+03,NaN,28471285.0,10366.0
6939,"Bahamas, The",BHS,1986,NaN,3.220000e+07,2.472500e+09,NaN,250804.0,392.0
14766,Low income,LIC,2015,1.154526e+10,3.242884e+09,NaN,4.898633,582173028.0,-1696194.0

In [24]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17024 entries, 0 to 17023
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_name         17024 non-null  object
 1   country_code         17024 non-null  object
 2   Year                 17024 non-null  object
 3   remittance_received  9497 non-null   float64
 4   remittance_paid      9066 non-null   float64
 5   gdp                  10677 non-null  float64
 6   unemployment_rate    7512 non-null   float64
 7   population           16665 non-null  float64
 8   net_migration        16430 non-null  float64
dtypes: float64(6), object(3)
memory usage: 1.3+ MB

In [37]:
# Save the merged DataFrame to a CSV file
merged_df.to_csv('merged_data.csv', index=False)

# Feature engineering

In [25]:
# Remittance-to-GDP Ratio
merged_df['remittance_to_gdp_ratio'] = merged_df['remittance_received'] / merged_df['gdp']

# Remittance per Capita
merged_df['remittance_per_capita'] = merged_df['remittance_received'] / merged_df['population']

In [26]:
merged_df.sample(50)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,net_migration,remittance_to_gdp_ratio,remittance_per_capita
13966,Latin America & Caribbean,LCN,2012,6.093738e+10,6.940586e+09,NaN,6.409913,6.021394e+08,-488483.0,NaN,101.201446
2814,Mexico,MEX,1970,NaN,NaN,4.440000e+08,NaN,5.028931e+07,-137213.0,NaN,NaN
7925,El Salvador,SLV,1989,2.378200e+08,4.040000e+06,4.372215e+09,NaN,5.270825e+06,-38211.0,0.054393,45.120073
9440,Lebanon,LBN,1995,NaN,NaN,1.900086e+13,8.533000,3.959640e+06,2634.0,NaN,NaN
13616,Cuba,CUB,2011,NaN,NaN,6.899000e+10,3.180000,1.129871e+07,-28752.0,NaN,NaN
11044,Sri Lanka,LKA,2001,1.169810e+09,1.882700e+08,1.407398e+12,7.900000,1.892028e+07,-15604.0,0.000831,61.828383
4695,Niger,NER,1977,6.447420e+06,2.184959e+07,3.172850e+11,NaN,5.644703e+06,-3476.0,0.000020,1.142207
12276,China,CHN,2006,4.319493e+09,2.329993e+09,2.194385e+13,4.430000,1.311020e+09,-473105.0,0.000197,3.294757
3497,Chile,CHL,1973,NaN,NaN,1.205476e+09,NaN,1.030784e+07,-31895.0,NaN,NaN
7578,Lebanon,LBN,1988,NaN,NaN,1.356000e+12,NaN,3.457148e+06,-1916.0,NaN,NaN
11453,Azerbaijan,AZE,2003,1.559570e+08,1.312840e+08,7.146500e+09,9.170000,8.234100e+06,13154.0,0.021823,18.940382
6993,France,FRA,1986,2.020922e+09,5.141358e+09,8.145960e+11,NaN,5.686519e+07,44525.0,0.002481,35.538820
3146,Suriname,SUR,1971,NaN,NaN,6.020000e+05,NaN,3.920260e+05,2397.0,NaN,NaN
12672,North America,NAC,2007,7.846618e+09,5.778397e+10,NaN,4.770117,3.341851e+08,1319027.0,NaN,23.479854
5006,Small states,SST,1978,4.810966e+08,6.839354e+08,NaN,NaN,2.010674e+07,-5439.0,NaN,23.927133
11771,"Egypt, Arab Rep.",EGY,2004,3.340700e+09,1.280000e+07,4.853000e+11,10.320000,7.752243e+07,31302.0,0.006884,43.093336
10761,Kenya,KEN,2000,5.379000e+08,NaN,9.678369e+11,3.128000,3.085161e+07,5407.0,0.000556,17.435074
4460,South Asia,SAS,1976,1.085800e+09,1.026525e+07,NaN,NaN,8.251402e+08,-1164270.0,NaN,1.315897
8950,New Caledonia,NCL,1993,NaN,NaN,2.906000e+11,18.458000,1.844960e+05,1057.0,NaN,NaN
1228,Northern Mariana Islands,MNP,1964,NaN,NaN,NaN,NaN,9.890000e+03,70.0,NaN,NaN
3767,"Congo, Dem. Rep.",COD,1974,NaN,NaN,1.602692e-02,NaN,2.244842e+07,3211.0,NaN,NaN
4172,Oman,OMN,1975,NaN,2.081644e+08,7.241999e+08,NaN,7.871940e+05,5632.0,NaN,NaN
11969,Zimbabwe,ZWE,2004,NaN,NaN,5.805598e+09,4.390000,1.216088e+07,-156566.0,NaN,NaN
7101,Panama,PAN,1986,1.004000e+08,2.710000e+07,6.797834e+09,NaN,2.246960e+06,-2136.0,0.014769,44.682594
9109,Europe & Central Asia,ECS,1994,4.006151e+10,3.300431e+10,NaN,9.660582,8.548927e+08,-65762.0,NaN,46.861448
9906,Europe & Central Asia (excluding high income),ECA,1997,5.547282e+09,7.384590e+08,NaN,11.030637,3.702763e+08,-642112.0,NaN,14.981466
14027,Paraguay,PRY,2012,6.341000e+08,1.003291e+08,1.472255e+14,4.090000,5.923322e+06,-17761.0,0.000004,107.051415
7912,Post-demographic dividend,PST,1989,3.207266e+10,3.779638e+10,NaN,NaN,9.579094e+08,2111320.0,NaN,33.481932
11058,Maldives,MDV,2001,1.823119e+06,4.996319e+07,1.065100e+10,3.034000,2.873240e+05,547.0,0.000171,6.345167
6622,Middle East & North Africa (IDA & IBRD countries),TMN,1984,7.040191e+09,1.681611e+09,NaN,NaN,1.907209e+08,127547.0,NaN,36.913585
2644,Uruguay,URY,1969,NaN,NaN,4.971000e+05,NaN,2.773957e+06,-11148.0,NaN,NaN
3461,Africa Western and Central,AFW,1973,NaN,NaN,NaN,NaN,1.305631e+08,-51885.0,NaN,NaN
14117,Burkina Faso,BFA,2013,3.084695e+08,1.489533e+08,6.640135e+12,4.052000,1.763641e+07,-33275.0,0.000046,17.490496
3990,Aruba,ABW,1975,NaN,NaN,NaN,NaN,6.071500e+04,-281.0,NaN,NaN
16338,"Iran, Islamic Rep.",IRN,2021,NaN,NaN,6.677450e+16,10.818000,8.792343e+07,28080.0,NaN,NaN
11100,Portugal,PRT,2001,3.421237e+08,2.505122e+08,1.357750e+11,3.830000,1.036272e+07,57075.0,0.002520,33.014852
8629,Jamaica,JAM,1992,2.156000e+08,1.150000e+07,8.117522e+10,7.204000,2.434574e+06,-22430.0,0.002656,88.557590
14740,Not classified,INX,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2146,Benin,BEN,1968,NaN,NaN,8.078608e+10,NaN,2.901218e+06,-4755.0,NaN,NaN
15811,Jamaica,JAM,2019,2.562542e+09,3.248825e+08,2.110433e+12,4.990000,2.813773e+06,-11329.0,0.001214,910.713869
1912,Cuba,CUB,1967,NaN,NaN,NaN,NaN,8.390962e+06,-49556.0,NaN,NaN
9101,Dominica,DMA,1994,1.328518e+07,4.444444e+05,7.138100e+08,NaN,6.919800e+04,-926.0,0.018612,191.987989
4550,Bolivia,BOL,1977,1.800000e+06,2.000000e+06,6.458100e+04,NaN,5.363917e+06,-7713.0,27.871974,0.335576
220,Suriname,SUR,1960,NaN,NaN,1.993000e+05,NaN,2.683960e+05,545.0,NaN,NaN
10500,"Korea, Rep.",KOR,1999,4.332100e+09,2.502400e+09,5.914530e+14,6.340000,4.661668e+07,-110955.0,0.000007,92.930262
4475,Sao Tome and Principe,STP,1976,NaN,NaN,NaN,NaN,8.807800e+04,-306.0,NaN,NaN
16573,United Kingdom,GBR,2022,3.877401e+09,1.076784e+10,2.491238e+12,3.571000,6.697141e+07,NaN,0.001556,57.896363
15347,Panama,PAN,2017,5.333559e+08,8.384081e+08,6.220270e+10,5.392000,4.096063e+06,11059.0,0.008574,130.211840
5614,Bolivia,BOL,1981,4.700000e+06,2.200000e+06,1.444622e+05,NaN,5.862990e+06,-13478.0,32.534462,0.801639
3054,Latin America & Caribbean (excluding high income),LAC,1971,5.446556e+07,1.843874e+07,NaN,NaN,2.614694e+08,-400672.0,NaN,0.208306

In [27]:
# Remittance Volatility
merged_df['remittance_volatility'] = merged_df.groupby('country_name')['remittance_received'].transform('std')

In [28]:
# Remittance Growth Rate
merged_df['remittance_growth_rate'] = merged_df.groupby('country_name')['remittance_received'].pct_change() * 100

In [29]:
# Sort the DataFrame by 'country_name' and 'Year'
merged_df = merged_df.sort_values(by=['country_name', 'Year'])

In [30]:
# Calculate the remittance growth rate
merged_df['remittance_growth_rate'] = merged_df.groupby('country_name')['remittance_received'].pct_change() * 100

# Unemployment Rate Change
merged_df['unemployment_rate_change'] = merged_df.groupby('country_name')['unemployment_rate'].diff()

In [31]:
merged_df.head(16000)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,net_migration,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,remittance_growth_rate,unemployment_rate_change
2,Afghanistan,AFG,1960,NaN,NaN,2.420000e+10,NaN,8622466.0,2606.0,NaN,NaN,2.934855e+08,NaN,NaN
268,Afghanistan,AFG,1961,NaN,NaN,2.470000e+10,NaN,8790140.0,6109.0,NaN,NaN,2.934855e+08,NaN,NaN
534,Afghanistan,AFG,1962,NaN,NaN,2.460000e+10,NaN,8969047.0,7016.0,NaN,NaN,2.934855e+08,NaN,NaN
800,Afghanistan,AFG,1963,NaN,NaN,3.380000e+10,NaN,9157465.0,6681.0,NaN,NaN,2.934855e+08,NaN,NaN
1066,Afghanistan,AFG,1964,NaN,NaN,3.600000e+10,NaN,9355514.0,7079.0,NaN,NaN,2.934855e+08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15941,Uganda,UGA,2019,1.424509e+09,3.730666e+08,1.320898e+14,3.554,42949080.0,107203.0,0.000011,33.167385,3.709362e+08,6.461230,-0.017
16207,Uganda,UGA,2020,1.061903e+09,1.955188e+08,1.396890e+14,4.511,44404611.0,43465.0,0.000008,23.914239,3.709362e+08,-25.454823,0.957
16473,Uganda,UGA,2021,1.082750e+09,2.128396e+08,1.483102e+14,4.295,45853778.0,43465.0,0.000007,23.613110,3.709362e+08,1.963251,-0.216
16739,Uganda,UGA,2022,1.131463e+09,NaN,1.627210e+14,4.280,47249585.0,NaN,0.000007,23.946524,3.709362e+08,4.499004,-0.015
17005,Uganda,UGA,Unnamed: 67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.709362e+08,0.000000,NaN

In [46]:
new_df = remitreceieved_df = pd.read_csv('_Remittance Merged_1970_- _2022.csv', encoding='latin-1')

In [47]:
new_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,Region,IncomeGroup
0,Aruba,ABW,1970,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
1,Aruba,ABW,1971,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
2,Aruba,ABW,1972,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
3,Aruba,ABW,1973,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income
4,Aruba,ABW,1974,0.0,0.0,0.0,0.0,Latin America & Caribbean,High income

In [51]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11501 entries, 0 to 11500
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_name         11501 non-null  object
 1   country_code         11501 non-null  object
 2   Year                 11501 non-null  int64
 3   remittance_received  11501 non-null  float64
 4   remittance_paid      11501 non-null  float64
 5   gdp                  11501 non-null  float64
 6   unemployment_rate    11501 non-null  float64
 7   Region               11501 non-null  object
 8   IncomeGroup          11501 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 808.8+ KB

In [49]:
new_df.sample(50)

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,Region,IncomeGroup
6006,Sri Lanka,LKA,1987,3.500584e+08,0.000000e+00,5.238696,0.000,South Asia,Lower middle income
546,Australia,AUS,1986,1.053349e+09,2.918842e+08,0.577266,0.000,East Asia & Pacific,High income
10781,United States,USA,1992,1.796000e+09,1.615630e+10,0.027545,7.500,North America,High income
8944,Sudan,SDN,2010,1.455537e+09,7.886324e+05,1.962933,15.130,Sub-Saharan Africa,Low income
9048,Singapore,SGP,2008,0.000000e+00,0.000000e+00,0.000000,3.960,East Asia & Pacific,High income
11321,"Yemen, Rep.",YEM,2002,1.294000e+09,6.430400e+07,12.099532,11.845,Middle East & North Africa,Low income
3036,"Egypt, Arab Rep.",EGY,1985,3.211714e+09,0.000000e+00,8.223883,0.000,Middle East & North Africa,Lower middle income
6673,Mexico,MEX,2018,3.576842e+10,9.998489e+08,2.926068,3.270,Latin America & Caribbean,Upper middle income
3441,France,FRA,2019,3.002473e+10,1.504121e+10,1.100262,8.410,Europe & Central Asia,High income
3751,Ghana,GHA,2011,2.134639e+09,0.000000e+00,5.426587,4.223,Sub-Saharan Africa,Lower middle income
3763,Gibraltar,GIB,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income
7079,Northern Mariana Islands,MNP,2000,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,High income
5772,Lebanon,LBN,2018,6.977962e+09,5.007029e+09,12.709962,10.728,Middle East & North Africa,Lower middle income
2938,Algeria,DZA,1993,1.140000e+09,0.000000e+00,2.282484,26.230,Middle East & North Africa,Lower middle income
6681,Marshall Islands,MHL,1973,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,Upper middle income
6293,"Macao SAR, China",MAC,2009,4.838181e+07,7.683192e+08,0.224117,3.580,East Asia & Pacific,High income
4000,Equatorial Guinea,GNQ,1995,1.001706e+05,0.000000e+00,0.070616,7.804,Sub-Saharan Africa,Upper middle income
2057,Cameroon,CMR,2013,2.441286e+08,6.513064e+07,0.723802,3.675,Sub-Saharan Africa,Lower middle income
7616,Nicaragua,NIC,2007,7.396000e+08,0.000000e+00,9.963136,4.890,Latin America & Caribbean,Lower middle income
8255,Papua New Guinea,PNG,2010,3.501731e+06,3.946086e+08,0.024572,2.000,East Asia & Pacific,Lower middle income
4785,Ireland,IRL,1985,0.000000e+00,6.183191e+07,0.000000,0.000,Europe & Central Asia,High income
5077,Italy,ITA,2012,9.166139e+09,1.182129e+10,0.439211,10.650,Europe & Central Asia,High income
3103,Eritrea,ERI,1999,3.634005e+06,1.265691e+06,0.527494,5.606,Sub-Saharan Africa,Low income
1258,Belize,BLZ,2009,7.857840e+07,2.250892e+07,4.675894,8.244,Latin America & Caribbean,Upper middle income
3838,Guinea,GIN,1992,9.230000e+06,2.157000e+07,0.281007,4.540,Sub-Saharan Africa,Lower middle income
10660,Ukraine,UKR,1977,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,Lower middle income
1367,Bolivia,BOL,2012,1.110532e+09,1.471127e+08,4.100250,2.070,Latin America & Caribbean,Lower middle income
5936,Liechtenstein,LIE,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income
4488,Croatia,HRV,2006,1.926149e+09,2.622230e+08,3.888650,11.130,Europe & Central Asia,High income
8260,Papua New Guinea,PNG,2015,3.944548e+06,2.806513e+08,0.018158,2.449,East Asia & Pacific,Lower middle income
820,Benin,BEN,1995,9.893230e+07,2.648451e+07,4.559876,1.237,Sub-Saharan Africa,Lower middle income
2695,Germany,DEU,2015,1.556585e+10,1.432088e+10,0.463602,4.620,Europe & Central Asia,High income
1667,Central African Republic,CAF,1994,0.000000e+00,2.737729e+07,0.000000,5.470,Sub-Saharan Africa,Low income
9409,South Sudan,SSD,1998,0.000000e+00,0.000000e+00,0.000000,12.145,Sub-Saharan Africa,Low income
5234,Japan,JPN,2010,1.684469e+09,4.365715e+09,0.029249,5.100,East Asia & Pacific,High income
5426,Cambodia,KHM,1990,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,Lower middle income
2279,Cabo Verde,CPV,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
6589,Maldives,MDV,1987,1.000000e+06,3.665144e+06,0.708100,0.000,South Asia,Upper middle income
10205,Turkmenistan,TKM,1999,0.000000e+00,0.000000e+00,0.000000,12.700,Europe & Central Asia,Upper middle income
2954,Algeria,DZA,2009,1.503370e+08,4.570241e+07,0.109566,10.160,Middle East & North Africa,Lower middle income
3236,Ethiopia,ETH,1973,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Low income
5770,Lebanon,LBN,2016,7.605730e+09,4.170870e+09,14.870244,9.723,Middle East & North Africa,Lower middle income
5294,Kazakhstan,KAZ,2017,5.604210e+08,2.690697e+09,0.335972,4.900,Europe & Central Asia,Upper middle income
7319,Malaysia,MYS,1975,4.177487e+06,4.595236e+06,0.044925,0.000,East Asia & Pacific,Upper middle income
11445,Zambia,ZMB,2020,1.348648e+08,8.851089e+07,0.744672,6.030,Sub-Saharan Africa,Lower middle income
158,Angola,AGO,2022,1.400549e+07,5.176682e+08,0.013124,10.209,Sub-Saharan Africa,Lower middle income
472,American Samoa,ASM,2018,0.000000e+00,0.000000e+00,0.000000,0.000,East Asia & Pacific,High income
3495,Faroe Islands,FRO,2020,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income
4549,Haiti,HTI,2014,1.977034e+09,2.485971e+08,13.052414,13.960,Latin America & Caribbean,Lower middle income
2813,Denmark,DNK,1974,0.000000e+00,0.000000e+00,0.000000,0.000,Europe & Central Asia,High income

In [50]:
new_df[new_df['country_name'] == 'Nigeria']

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,Region,IncomeGroup
7526,Nigeria,NGA,1970,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7527,Nigeria,NGA,1971,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7528,Nigeria,NGA,1972,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7529,Nigeria,NGA,1973,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7530,Nigeria,NGA,1974,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7531,Nigeria,NGA,1975,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7532,Nigeria,NGA,1976,0.000000e+00,0.000000e+00,0.000000,0.000,Sub-Saharan Africa,Lower middle income
7533,Nigeria,NGA,1977,2.016438e+07,1.985416e+08,0.055957,0.000,Sub-Saharan Africa,Lower middle income
7534,Nigeria,NGA,1978,3.148258e+06,2.534348e+08,0.008619,0.000,Sub-Saharan Africa,Lower middle income
7535,Nigeria,NGA,1979,8.278045e+06,3.559559e+08,0.017516,0.000,Sub-Saharan Africa,Lower middle income
7536,Nigeria,NGA,1980,2.194663e+07,5.230615e+08,0.034184,0.000,Sub-Saharan Africa,Lower middle income
7537,Nigeria,NGA,1981,1.618887e+07,4.840473e+08,0.009843,0.000,Sub-Saharan Africa,Lower middle income
7538,Nigeria,NGA,1982,1.781840e+07,4.276415e+08,0.012481,0.000,Sub-Saharan Africa,Lower middle income
7539,Nigeria,NGA,1983,1.380434e+07,4.086085e+08,0.014217,0.000,Sub-Saharan Africa,Lower middle income
7540,Nigeria,NGA,1984,1.174126e+07,3.326691e+08,0.015978,0.000,Sub-Saharan Africa,Lower middle income
7541,Nigeria,NGA,1985,1.006966e+07,2.976143e+08,0.013655,0.000,Sub-Saharan Africa,Lower middle income
7542,Nigeria,NGA,1986,3.989688e+06,1.498983e+08,0.007280,0.000,Sub-Saharan Africa,Lower middle income
7543,Nigeria,NGA,1987,2.739018e+06,2.166315e+07,0.005200,0.000,Sub-Saharan Africa,Lower middle income
7544,Nigeria,NGA,1988,2.424527e+06,3.702914e+07,0.004883,0.000,Sub-Saharan Africa,Lower middle income
7545,Nigeria,NGA,1989,1.018367e+07,2.878583e+07,0.023143,0.000,Sub-Saharan Africa,Lower middle income
7546,Nigeria,NGA,1990,1.000854e+07,8.853592e+06,0.018522,0.000,Sub-Saharan Africa,Lower middle income
7547,Nigeria,NGA,1991,6.554471e+07,5.351068e+07,0.133442,3.978,Sub-Saharan Africa,Lower middle income
7548,Nigeria,NGA,1992,5.644840e+07,3.480254e+07,0.118105,3.931,Sub-Saharan Africa,Lower middle income
7549,Nigeria,NGA,1993,7.931540e+08,2.310584e+06,2.857986,3.982,Sub-Saharan Africa,Lower middle income
7550,Nigeria,NGA,1994,5.498727e+08,3.500636e+06,1.625253,3.970,Sub-Saharan Africa,Lower middle income
7551,Nigeria,NGA,1995,2.500430e+08,1.463817e+06,0.567474,3.945,Sub-Saharan Africa,Lower middle income
7552,Nigeria,NGA,1996,2.965873e+08,5.473002e+05,0.580681,3.898,Sub-Saharan Africa,Lower middle income
7553,Nigeria,NGA,1997,5.857384e+08,1.164845e+06,1.075582,3.900,Sub-Saharan Africa,Lower middle income
7554,Nigeria,NGA,1998,4.485468e+08,1.328093e+06,0.821453,3.893,Sub-Saharan Africa,Lower middle income
7555,Nigeria,NGA,1999,1.301056e+09,9.400237e+06,2.191337,3.901,Sub-Saharan Africa,Lower middle income
7556,Nigeria,NGA,2000,1.391826e+09,1.052142e+06,2.004099,3.852,Sub-Saharan Africa,Lower middle income
7557,Nigeria,NGA,2001,1.166615e+09,5.933584e+05,1.575855,3.838,Sub-Saharan Africa,Lower middle income
7558,Nigeria,NGA,2002,1.208959e+09,9.039780e+05,1.271864,3.751,Sub-Saharan Africa,Lower middle income
7559,Nigeria,NGA,2003,1.062821e+09,1.156224e+07,1.014733,3.812,Sub-Saharan Africa,Lower middle income
7560,Nigeria,NGA,2004,2.272735e+09,2.085560e+07,1.674024,3.789,Sub-Saharan Africa,Lower middle income
7561,Nigeria,NGA,2005,1.464008e+10,6.803027e+07,8.333830,3.807,Sub-Saharan Africa,Lower middle income
7562,Nigeria,NGA,2006,1.693214e+10,1.015608e+08,7.100773,3.803,Sub-Saharan Africa,Lower middle income
7563,Nigeria,NGA,2007,1.801443e+10,5.400630e+07,6.473937,3.791,Sub-Saharan Africa,Lower middle income
7564,Nigeria,NGA,2008,1.919997e+10,5.814876e+07,5.655764,3.782,Sub-Saharan Africa,Lower middle income
7565,Nigeria,NGA,2009,1.837080e+10,4.703579e+07,6.227204,3.763,Sub-Saharan Africa,Lower middle income
7566,Nigeria,NGA,2010,1.974476e+10,4.747469e+07,5.380181,3.755,Sub-Saharan Africa,Lower middle income
7567,Nigeria,NGA,2011,2.061677e+10,7.550616e+07,4.974291,3.770,Sub-Saharan Africa,Lower middle income
7568,Nigeria,NGA,2012,2.054288e+10,3.870239e+07,4.427623,3.750,Sub-Saharan Africa,Lower middle income
7569,Nigeria,NGA,2013,2.079707e+10,5.048264e+07,3.998536,3.700,Sub-Saharan Africa,Lower middle income
7570,Nigeria,NGA,2014,2.099908e+10,5.461572e+07,3.657206,3.944,Sub-Saharan Africa,Lower middle income
7571,Nigeria,NGA,2015,2.062605e+10,1.035451e+09,4.183555,4.221,Sub-Saharan Africa,Lower middle income
7572,Nigeria,NGA,2016,1.969794e+10,7.447711e+08,4.867907,4.509,Sub-Saharan Africa,Lower middle income
7573,Nigeria,NGA,2017,2.203702e+10,2.753458e+08,5.864875,4.729,Sub-Saharan Africa,Lower middle income
7574,Nigeria,NGA,2018,2.431102e+10,6.767628e+07,5.764468,4.963,Sub-Saharan Africa,Lower middle income
7575,Nigeria,NGA,2019,2.380928e+10,9.060008e+07,5.017577,5.206,Sub-Saharan Africa,Lower middle income
7576,Nigeria,NGA,2020,1.720755e+10,9.210166e+07,3.981395,5.999,Sub-Saharan Africa,Lower middle income
7577,Nigeria,NGA,2021,1.948340e+10,8.254529e+07,4.419673,5.936,Sub-Saharan Africa,Lower middle income
7578,Nigeria,NGA,2022,2.012761e+10,8.242428e+07,4.216213,5.761,Sub-Saharan Africa,Lower middle income

In [52]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16758 entries, 2 to 16757
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_name              16758 non-null  object
 1   country_code              16758 non-null  object
 2   Year                      16758 non-null  object
 3   remittance_received       9497 non-null   float64
 4   remittance_paid           9066 non-null   float64
 5   gdp                       8831 non-null   float64
 6   unemployment_rate         7512 non-null   float64
 7   population                16665 non-null  float64
 8   remittance_growth_rate    9302 non-null   float64
 9   remittance_to_gdp_ratio   8613 non-null   float64
 10  remittance_per_capita     9497 non-null   float64
 11  remittance_volatility     15498 non-null  float64
 12  unemployment_rate_change  7277 non-null   float64
dtypes: float64(10), object(3)
memory usage: 1.8+ MB

In [58]:
merged_df['Year'] = merged_df['Year'].astype(np.int64)

In [59]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16758 entries, 2 to 16757
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_name              16758 non-null  object
 1   country_code              16758 non-null  object
 2   Year                      16758 non-null  int64
 3   remittance_received       9497 non-null   float64
 4   remittance_paid           9066 non-null   float64
 5   gdp                       8831 non-null   float64
 6   unemployment_rate         7512 non-null   float64
 7   population                16665 non-null  float64
 8   remittance_growth_rate    9302 non-null   float64
 9   remittance_to_gdp_ratio   8613 non-null   float64
 10  remittance_per_capita     9497 non-null   float64
 11  remittance_volatility     15498 non-null  float64
 12  unemployment_rate_change  7277 non-null   float64
dtypes: float64(10), int64(1), object(2)
memory usage: 1.8+ MB

In [60]:
merged_with_info_df = pd.merge(merged_df, new_df[['country_name', 'Year', 'Region', 'IncomeGroup']], on=['country_name', 'Year'], how='left')

In [61]:
merged_with_info_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,unemployment_rate_change,Region,IncomeGroup
0,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
1,Afghanistan,AFG,1961,NaN,NaN,NaN,NaN,8790140.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
2,Afghanistan,AFG,1962,NaN,NaN,NaN,NaN,8969047.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
3,Afghanistan,AFG,1963,NaN,NaN,NaN,NaN,9157465.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN
4,Afghanistan,AFG,1964,NaN,NaN,NaN,NaN,9355514.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN

In [62]:
merged_with_info_df[merged_with_info_df['country_name'] == 'Nigeria']

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,unemployment_rate_change,Region,IncomeGroup
11214,Nigeria,NGA,1960,NaN,NaN,NaN,NaN,44928342.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11215,Nigeria,NGA,1961,NaN,NaN,NaN,NaN,45855507.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11216,Nigeria,NGA,1962,NaN,NaN,NaN,NaN,46821845.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11217,Nigeria,NGA,1963,NaN,NaN,NaN,NaN,47822569.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
11218,Nigeria,NGA,1964,NaN,NaN,NaN,NaN,48856332.0,NaN,NaN,NaN,9.704616e+09,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11272,Nigeria,NGA,2018,2.431102e+10,67676279.79,5.764468,4.963,198387623.0,10.319026,4.217392e+09,122.543040,9.704616e+09,0.234,Sub-Saharan Africa,Lower middle income
11273,Nigeria,NGA,2019,2.380928e+10,90600080.53,5.017577,5.206,203304492.0,-2.063842,4.745175e+09,117.111438,9.704616e+09,0.243,Sub-Saharan Africa,Lower middle income
11274,Nigeria,NGA,2020,1.720755e+10,92101664.91,3.981395,5.999,208327405.0,-27.727565,4.321989e+09,82.598577,9.704616e+09,0.793,Sub-Saharan Africa,Lower middle income
11275,Nigeria,NGA,2021,1.948340e+10,82545294.22,4.419673,5.936,213401323.0,13.225910,4.408336e+09,91.299350,9.704616e+09,-0.063,Sub-Saharan Africa,Lower middle income
11276,Nigeria,NGA,2022,2.012761e+10,82424279.49,4.216213,5.761,218541212.0,3.306466,4.773861e+09,92.099856,9.704616e+09,-0.175,Sub-Saharan Africa,Lower middle income

In [64]:

# Merge based on 'country_name' and 'Year' columns
merged_info_df = pd.merge(merged_df, new_df[['country_name', 'Year', 'Region', 'IncomeGroup']], on=['country_name', 'Year'], how='left')

# Define a function to get region and income group based on the merged DataFrame row
def get_region_income(row):
    return row['Region'], row['IncomeGroup']

# Apply the function to each row to create the new column
merged_info_df[['new_region', 'new_income_group']] = merged_info_df.apply(get_region_income, axis=1, result_type='expand')

In [65]:
merged_info_df.head()

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,population,remittance_growth_rate,remittance_to_gdp_ratio,remittance_per_capita,remittance_volatility,unemployment_rate_change,Region,IncomeGroup,new_region,new_income_group
0,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1961,NaN,NaN,NaN,NaN,8790140.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1962,NaN,NaN,NaN,NaN,8969047.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1963,NaN,NaN,NaN,NaN,9157465.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1964,NaN,NaN,NaN,NaN,9355514.0,NaN,NaN,NaN,2.934855e+08,NaN,NaN,NaN,NaN,NaN

In [66]:
def update_merged_with(row):
    country = row['country_name']
    year = row['Year']
    
    matching_row = new_df[(new_df['country_name'] == country) & (new_df['Year'] == year)]
    
    if not matching_row.empty:
        row['new_region'] = matching_row['Region'].iloc[0]
        row['new_income_group'] = matching_row['IncomeGroup'].iloc[0]
    
    return row

# Apply the function to each row in merged_df
merged_with_df = merged_df.apply(update_merged_with, axis=1)

In [68]:
merged_with_df.head()

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
2,1960,AFG,Afghanistan,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
268,1961,AFG,Afghanistan,NaN,NaN,NaN,8790140.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
534,1962,AFG,Afghanistan,NaN,NaN,NaN,8969047.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
800,1963,AFG,Afghanistan,NaN,NaN,NaN,9157465.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN
1066,1964,AFG,Afghanistan,NaN,NaN,NaN,9355514.0,NaN,NaN,NaN,NaN,NaN,2.934855e+08,NaN,NaN

In [69]:
merged_with_df[merged_with_df['country_name'] == 'Nigeria']

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
174,1960,NGA,Nigeria,NaN,NaN,NaN,44928342.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
440,1961,NGA,Nigeria,NaN,NaN,NaN,45855507.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
706,1962,NGA,Nigeria,NaN,NaN,NaN,46821845.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
972,1963,NGA,Nigeria,NaN,NaN,NaN,47822569.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
1238,1964,NGA,Nigeria,NaN,NaN,NaN,48856332.0,NaN,NaN,NaN,NaN,NaN,9.704616e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15602,2018,NGA,Nigeria,5.764468,Lower middle income,Sub-Saharan Africa,198387623.0,10.319026,67676279.79,122.543040,2.431102e+10,4.217392e+09,9.704616e+09,4.963,0.234
15868,2019,NGA,Nigeria,5.017577,Lower middle income,Sub-Saharan Africa,203304492.0,-2.063842,90600080.53,117.111438,2.380928e+10,4.745175e+09,9.704616e+09,5.206,0.243
16134,2020,NGA,Nigeria,3.981395,Lower middle income,Sub-Saharan Africa,208327405.0,-27.727565,92101664.91,82.598577,1.720755e+10,4.321989e+09,9.704616e+09,5.999,0.793
16400,2021,NGA,Nigeria,4.419673,Lower middle income,Sub-Saharan Africa,213401323.0,13.225910,82545294.22,91.299350,1.948340e+10,4.408336e+09,9.704616e+09,5.936,-0.063
16666,2022,NGA,Nigeria,4.216213,Lower middle income,Sub-Saharan Africa,218541212.0,3.306466,82424279.49,92.099856,2.012761e+10,4.773861e+09,9.704616e+09,5.761,-0.175

In [74]:
# Delete null values between 1960 and 1969
years_to_delete = range(1960, 1970)
merged_with_df = merged_with_df[~(merged_with_df['Year'].isin(years_to_delete))]

# Fill null values after 1969 with zeroes
years_after_1969 = range(1970, 2023)
columns_to_fill = merged_with_df.columns.difference(['Year', 'country_code', 'country_name'])  # Exclude non-numeric columns
merged_with_df.loc[merged_with_df['Year'].isin(years_after_1969), columns_to_fill] = merged_with_df.loc[merged_with_df['Year'].isin(years_after_1969), columns_to_fill].fillna(0)

# Reset the index
merged_with_df.reset_index(drop=True, inplace=True)

In [76]:
merged_with_df.head()

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
0,1970,AFG,Afghanistan,0.0,Low income,South Asia,10752971.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
1,1971,AFG,Afghanistan,0.0,Low income,South Asia,11015857.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
2,1972,AFG,Afghanistan,0.0,Low income,South Asia,11286753.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
3,1973,AFG,Afghanistan,0.0,Low income,South Asia,11575305.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0
4,1974,AFG,Afghanistan,0.0,Low income,South Asia,11869879.0,0.0,0.0,0.0,0.0,0.0,2.934855e+08,0.0,0.0

In [77]:
merged_with_df[merged_with_df['country_name'] == 'Botswana']

,Year,country_code,country_name,gdp,new_income_group,new_region,population,remittance_growth_rate,remittance_paid,remittance_per_capita,remittance_received,remittance_to_gdp_ratio,remittance_volatility,unemployment_rate,unemployment_rate_change
1484,1970,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,592244.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1485,1971,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,604139.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1486,1972,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,626601.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1487,1973,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,657246.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1488,1974,BWA,Botswana,0.000000,Upper middle income,Sub-Saharan Africa,691569.0,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.441387e+07,0.000,0.000
1489,1975,BWA,Botswana,12.145441,Upper middle income,Sub-Saharan Africa,727930.0,0.000000,3.921528e+06,59.259553,4.313681e+07,3.551687e+06,2.441387e+07,0.000,0.000
1490,1976,BWA,Botswana,16.506955,Upper middle income,Sub-Saharan Africa,766424.0,42.361060,3.680001e+07,80.125381,6.141002e+07,3.720251e+06,2.441387e+07,0.000,0.000
1491,1977,BWA,Botswana,15.253123,Upper middle income,Sub-Saharan Africa,806968.0,12.175366,4.061952e+07,85.365107,6.888691e+07,4.516250e+06,2.441387e+07,0.000,0.000
1492,1978,BWA,Botswana,9.735147,Upper middle income,Sub-Saharan Africa,849394.0,-16.563213,3.429301e+07,67.668272,5.747702e+07,5.904074e+06,2.441387e+07,0.000,0.000
1493,1979,BWA,Botswana,7.108650,Upper middle income,Sub-Saharan Africa,893500.0,1.400049,1.680968e+07,65.228574,5.828173e+07,8.198706e+06,2.441387e+07,0.000,0.000
1494,1980,BWA,Botswana,7.288824,Upper middle income,Sub-Saharan Africa,938578.0,32.676886,2.586124e+07,82.386744,7.732639e+07,1.060890e+07,2.441387e+07,0.000,0.000
1495,1981,BWA,Botswana,6.944908,Upper middle income,Sub-Saharan Africa,982747.0,-3.557775,2.904134e+07,75.884523,7.457529e+07,1.073812e+07,2.441387e+07,0.000,0.000
1496,1982,BWA,Botswana,5.559542,Upper middle income,Sub-Saharan Africa,1023009.0,-24.336401,2.554239e+07,55.157233,5.642635e+07,1.014946e+07,2.441387e+07,0.000,0.000
1497,1983,BWA,Botswana,4.767275,Upper middle income,Sub-Saharan Africa,1060717.0,-0.962133,2.260864e+07,52.684599,5.588345e+07,1.172231e+07,2.441387e+07,0.000,0.000
1498,1984,BWA,Botswana,4.028429,Upper middle income,Sub-Saharan Africa,1099170.0,-10.553799,2.403007e+07,45.475788,4.998562e+07,1.240822e+07,2.441387e+07,0.000,0.000
1499,1985,BWA,Botswana,2.805347,Upper middle income,Sub-Saharan Africa,1138704.0,-37.434924,1.566305e+07,27.464154,3.127354e+07,1.114784e+07,2.441387e+07,0.000,0.000
1500,1986,BWA,Botswana,2.674921,Upper middle income,Sub-Saharan Africa,1179263.0,19.113463,2.203131e+07,31.588373,3.725100e+07,1.392602e+07,2.441387e+07,0.000,0.000
1501,1987,BWA,Botswana,2.764055,Upper middle income,Sub-Saharan Africa,1220361.0,45.821488,1.131666e+06,44.511388,5.431996e+07,1.965227e+07,2.441387e+07,0.000,0.000
1502,1988,BWA,Botswana,2.067910,Upper middle income,Sub-Saharan Africa,1261272.0,0.675733,1.878026e+07,43.358625,5.468702e+07,2.644555e+07,2.441387e+07,0.000,0.000
1503,1989,BWA,Botswana,1.601339,Upper middle income,Sub-Saharan Africa,1301671.0,-9.699869,3.642886e+07,37.937735,4.938245e+07,3.083822e+07,2.441387e+07,0.000,0.000
1504,1990,BWA,Botswana,2.257404,Upper middle income,Sub-Saharan Africa,1341474.0,73.280121,1.179812e+08,63.788019,8.556997e+07,3.790637e+07,2.441387e+07,0.000,0.000
1505,1991,BWA,Botswana,2.117743,Upper middle income,Sub-Saharan Africa,1380584.0,-2.419028,1.179289e+08,60.481657,8.350001e+07,3.942877e+07,2.441387e+07,13.820,0.000
1506,1992,BWA,Botswana,2.266830,Upper middle income,Sub-Saharan Africa,1420695.0,12.566809,1.392125e+08,66.160079,9.399329e+07,4.146465e+07,2.441387e+07,16.325,2.505
1507,1993,BWA,Botswana,1.785660,Upper middle income,Sub-Saharan Africa,1462262.0,-20.966942,1.314445e+08,50.801959,7.428577e+07,4.160129e+07,2.441387e+07,18.785,2.460
1508,1994,BWA,Botswana,1.640635,Upper middle income,Sub-Saharan Africa,1503544.0,-5.932359,1.453078e+08,46.476110,6.987888e+07,4.259259e+07,2.441387e+07,21.200,2.415
1509,1995,BWA,Botswana,1.169724,Upper middle income,Sub-Saharan Africa,1543634.0,-20.813008,1.989390e+08,35.847215,5.533498e+07,4.730600e+07,2.441387e+07,21.350,0.150
1510,1996,BWA,Botswana,0.892342,Upper middle income,Sub-Saharan Africa,1582169.0,-21.824184,8.636673e+07,27.341309,4.325857e+07,4.847758e+07,2.441387e+07,21.590,0.240
1511,1997,BWA,Botswana,0.815215,Upper middle income,Sub-Saharan Africa,1619354.0,-5.392250,1.190162e+08,25.273017,4.092596e+07,5.020265e+07,2.441387e+07,21.126,-0.464
1512,1998,BWA,Botswana,0.756832,Upper middle income,Sub-Saharan Africa,1655699.0,-11.411048,1.177277e+08,21.897628,3.625588e+07,4.790482e+07,2.441387e+07,20.860,-0.266
1513,1999,BWA,Botswana,0.480652,Upper middle income,Sub-Saharan Africa,1691558.0,-27.293991,1.222646e+08,15.583387,2.636020e+07,5.484263e+07,2.441387e+07,18.229,-2.631
1514,2000,BWA,Botswana,0.320315,Upper middle income,Sub-Saharan Africa,1726985.0,-29.663438,1.339411e+08,10.735971,1.854086e+07,5.788330e+07,2.441387e+07,15.880,-2.349
1515,2001,BWA,Botswana,0.326210,Upper middle income,Sub-Saharan Africa,1761930.0,-3.415258,1.290916e+08,10.163652,1.790764e+07,5.489608e+07,2.441387e+07,18.540,2.660
1516,2002,BWA,Botswana,0.350688,Upper middle income,Sub-Saharan Africa,1795130.0,6.509929,1.296163e+08,10.625090,1.907342e+07,5.438864e+07,2.441387e+07,21.105,2.565
1517,2003,BWA,Botswana,0.363563,Upper middle income,Sub-Saharan Africa,1826863.0,43.180052,1.855890e+08,14.948756,2.730933e+07,7.511582e+07,2.441387e+07,23.800,2.695
1518,2004,BWA,Botswana,0.878110,Upper middle income,Sub-Saharan Africa,1859085.0,188.020315,9.920040e+07,42.309209,7.865642e+07,8.957468e+07,2.441387e+07,21.852,-1.948
1519,2005,BWA,Botswana,1.187071,Upper middle income,Sub-Saharan Africa,1892807.0,49.694725,1.070329e+08,62.206292,1.177445e+08,9.918907e+07,2.441387e+07,19.829,-2.023
1520,2006,BWA,Botswana,1.047055,Upper middle income,Sub-Saharan Africa,1928704.0,-11.792906,9.741008e+07,53.849117,1.038590e+08,9.919158e+07,2.441387e+07,17.780,-2.049
1521,2007,BWA,Botswana,0.872425,Upper middle income,Sub-Saharan Africa,1966977.0,-11.233969,9.864607e+07,46.869647,9.219152e+07,1.056727e+08,2.441387e+07,17.172,-0.608
1522,2008,BWA,Botswana,0.436343,Upper middle income,Sub-Saharan Africa,2007320.0,-49.210950,5.756157e+07,23.326224,4.682320e+07,1.073083e+08,2.441387e+07,16.590,-0.582
1523,2009,BWA,Botswana,0.150310,Upper middle income,Sub-Saharan Africa,2048997.0,-67.518174,5.950369e+07,7.422670,1.520903e+07,1.011846e+08,2.441387e+07,16.170,-0.420
1524,2010,BWA,Botswana,0.176630,Upper middle income,Sub-Saharan Africa,2091664.0,46.763338,9.975446e+07,10.671541,2.232128e+07,1.263727e+08,2.441387e+07,17.860,1.690
1525,2011,BWA,Botswana,0.135070,Upper middle income,Sub-Saharan Africa,2134037.0,-8.563132,1.223115e+08,9.563976,2.040988e+07,1.511064e+08,2.441387e+07,18.152,0.292
1526,2012,BWA,Botswana,0.130169,Upper middle income,Sub-Saharan Africa,2175425.0,-11.302049,1.241305e+08,8.321658,1.810314e+07,1.390746e+08,2.441387e+07,18.416,0.264
1527,2013,BWA,Botswana,0.252277,Upper middle income,Sub-Saharan Africa,2217278.0,98.884437,9.748926e+07,16.238079,3.600434e+07,1.427174e+08,2.441387e+07,18.538,0.122
1528,2014,BWA,Botswana,0.298144,Upper middle income,Sub-Saharan Africa,2260376.0,28.104346,1.053969e+08,20.405065,4.612312e+07,1.547009e+08,2.441387e+07,18.894,0.356
1529,2015,BWA,Botswana,0.222054,Upper middle income,Sub-Saharan Africa,2305171.0,-34.857789,9.474211e+07,13.034009,3.004562e+07,1.353075e+08,2.441387e+07,19.299,0.405
1530,2016,BWA,Botswana,0.163251,Upper middle income,Sub-Saharan Africa,2352416.0,-18.049612,8.044798e+07,10.466899,2.462250e+07,1.508264e+08,2.441387e+07,19.315,0.016
1531,2017,BWA,Botswana,0.241889,Upper middle income,Sub-Saharan Africa,2401840.0,58.215286,8.124653e+07,16.219466,3.895656e+07,1.610516e+08,2.441387e+07,19.603,0.288
1532,2018,BWA,Botswana,0.260158,Upper middle income,Sub-Saharan Africa,2451409.0,13.741808,6.343891e+07,18.075277,4.430990e+07,1.703194e+08,2.441387e+07,19.838,0.235
1533,2019,BWA,Botswana,0.354899,Upper middle income,Sub-Saharan Africa,2499702.0,33.965790,9.940376e+07,23.746872,5.936010e+07,1.672591e+08,2.441387e+07,20.090,0.252
1534,2020,BWA,Botswana,0.238070,Upper middle income,Sub-Saharan Africa,2546402.0,-40.000260,1.636030e+08,13.986758,3.561591e+07,1.496029e+08,2.441387e+07,21.020,0.930
1535,2021,BWA,Botswana,0.307568,Upper middle income,Sub-Saharan Africa,2588423.0,61.807424,2.366466e+08,22.264206,5.762918e+07,1.873707e+08,2.441387e+07,21.155,0.135
1536,2022,BWA,Botswana,0.273247,Upper middle income,Sub-Saharan Africa,2630296.0,-3.500000,0.000000e+00,21.142929,5.561216e+07,2.035232e+08,2.441387e+07,20.684,-0.471

In [78]:
# Save the merged DataFrame to a CSV file
merged_with_df.to_csv('merged_with_data.csv', index=False)